<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ end }}">
<head>
	<meta charset="UTF-8">
	<title>{{if .IsHome}}{{ .Site.Title }} • {{ .Title }}{{else}}{{ .Title }} • {{ .Site.Title }}{{end}}</title>
	{{ partial "head" . }}
</head>
<body id="top" class="{{ .Kind }}{{ with .Site.Params.Theme }} {{ . }}{{ end }}{{ with .Params.Theme }} {{ . }}{{ end }}"{{ with .Site.Params.LanguageDir }} dir="{{ . }}"{{ end }}>
	{{- with .Resources.GetMatch "custom.css" }}{{/* load custom.css located by the content, if it exists */}}
		{{- $customcss := . | resources.Minify }}
		<style>
			{{ $customcss.Content | safeCSS }}
		</style>
	{{ end -}}
	<!-- {{ if ne .Site.Params.show_languages false }}{{ partial "languages" . }}{{ end }} -->
	{{ if ne .Site.Params.show_ui false }}{{ partialCached "ui" . }}{{ end }}
	<header class="cluster">
		{{ block "header" . }}{{ partial "header/inner" . }}{{end}}
	</header>
	<main>
		{{ block "main" . }}{{end}}
	</main>
	<footer>
		{{ block "footer" . }}{{ partialCached "footer/inner" . }}{{end}}
	</footer>
	{{ partialCached "scripts" . }}
	{{ with .Resources.Match "script.js" }}{{/* load script.js located by the content, if it exists */}}
	<script async src="./script.js"></script>
	{{ end }}
</body>
</html>