<!DOCTYPE html>
<html lang="{{ with .Site.Params.locale }}{{ . }}{{ end }}">
<head>
	<title>{{if .IsHome}}{{ .Site.Title }} • {{ .Title }}{{else}}{{ .Title }} • {{ .Site.Title }}{{end}}</title>
	{{ partial "head" . }}

	<!-- <link rel="stylesheet" href="{{ "/scripts/fancybox/jquery.fancybox.css" | relURL }}"> -->
</head>
<body id="start" class="{{ .Kind }} {{ if .Params.Theme }}{{ .Params.Theme }}{{ else if .Site.Params.Theme }}{{ .Site.Params.Theme }}{{ end }}">
	{{ partial "languages" . }}
	{{ if ne .Site.Params.UI false }}{{ partial "ui" . }}{{ end }}
	<header>
		{{ block "header" . }}{{ partial "header/inner" . }}{{end}}
	</header>
	<main>
		{{ block "main" . }}{{end}}
	</main>
	<footer>
		{{ block "footer" . }}{{ partial "footer/inner" . }}{{end}}
	</footer>
	{{ partial "scripts" . }}
</body>
</html>