{{ define "main" }}
	{{- with .Resources.GetMatch "custom.css" }}
		<!-- with .Resources.GetMatch "custom.css" | toCSS | minify, issue with type of file -->
		<style>{{ .Content | safeCSS }}</style>
	{{ end -}}

	<article class="h-entry{{ with .Draft }} draft{{ end }}">
		{{ $featured := "" }}
		{{ if .Params.image }}
			{{ $featured = (.Resources.ByType "image").GetMatch (printf "**%s" .Params.image) }}
		{{ else }}
			{{ $featured = (.Resources.ByType "image").GetMatch "*_featured*" }}
		{{ end }}

		{{- with $featured -}}
		<div class="hero snap">
				{{- /* $resized := .Resize "600x" */ -}}
				<img src="{{ .RelPermalink  }}" alt="">
		</div>
		{{- end -}}
		<h1 class="title snap"><a href="#">{{ with .Title }}{{ . }}{{ end }}</a></h1>
		<header>
			<div class="details">
				{{ if .Params.description }}
					<div class="summary">
						{{ .Params.description | markdownify }}
					</div>
				{{ end }}
				{{ if and (ne .Site.Params.show_share false) (ne .Params.show_share false) }}
					{{ partial "sharing.html" . }}
				{{ end }}
			</div>
		{{ if and (ne .Site.Params.show_meta false) (ne .Params.show_meta false) -}}
			<aside class="meta">
				<div class="wrapper">
					<h2>{{ (i18n "post-details") }}</h2>
					<dl>
					<!-- {{ with .Params.description }}
						<dt>{{ i18n "description" }}</dt>
						<dd>{{ . | markdownify }}</dd>
					</dd>
					{{ end }} -->
					{{ if .Params.dateCreated }}
						<dt>{{ i18n "created-date" }}</dt>
							<dd>{{ .Params.dateCreated }}</dd>
					{{ else }}
						<dt>{{ i18n "publish-date" }}</dt>
							<dd>{{- if .Params.dateCreated -}}
									{{- .Params.dateCreated -}}
								{{- else -}}
									{{- if isset $.Site.Params "dateformat" -}}
										{{- .Date.Format $.Site.Params.dateformat -}}
									{{- else -}}
										{{- .Date.Format "2006-01-02" -}}
									{{- end -}}
								{{- end -}}
							</dd>
					{{ end }}

					{{ if (lt (add .Date.Unix 63072000) now.Unix) }}
						{{ $yearsElapsed := ( sub (int (now.Format "2006")) (int (.Date.Format "2006")) ) }}
						<dd class="time">{{ $yearsElapsed }} {{ i18n "notice-outdated" | safeHTML }}</dd>
					{{ end }}

					{{ with .Params.DateRead }}
						<dt>{{ i18n "read-date" }}</dt>
							<dd>{{ . }}</dd>
					{{ end }}

					{{ with .Params.Rating }}
						<dt>{{ i18n "rating" }}</dt>
							<dd title="{{ . }}">
								{{- range seq (int . ) }}★{{ end -}}
							</dd>
					{{ end }}

					{{ with .Params.license }}
						<dt>{{ i18n "license" }}</dt>
						<dd>{{ . | markdownify }}</dd>
					{{ end }}

					{{ if .Params.Tags }}
						<dt>{{ i18n "tags" }}</dt>
						<dd class="tags">{{ range .Params.Tags -}}
							<a href="/tags/{{ . | urlize }}" class="tag" rel="tag">{{ (i18n . ) }}</a>
						{{- end }}</dd>
					{{ end }}
					</dl>
				</div>

				{{- if eq .Type "review" -}}
				<div class="wrapper">
					<h2>{{ (i18n "publication-details") }}</h2>
					<dl>
					{{ with .Params.Publication.Title }}
						<dt>{{ i18n "title" }}</dt>
						<dd>
						{{- if $.Params.Publication.URL }}<a href="{{ $.Params.Publication.URL }}">{{ end -}}
						{{ . }}
						{{- if $.Params.Publication.URL }}</a>{{ end -}}
						</dd>
					{{ end -}}
					{{- with .Params.Publication.Subtitle }}
						<dd>{{ . }}</dd>
					{{ end -}}
					{{- with .Params.Publication.TitleOriginal }}
						<dd>{{ . }}</dd>
					{{ end -}}
					{{ with .Params.Publication.Author }}
						<dt>{{ i18n "author" }}</dt>
						<dd>{{ . }}</dd>
					{{ end -}}
					{{ with .Params.Publication.Publisher }}
						<dt>{{ i18n "publisher" }}</dt>
						<dd>{{ . }}</dd>
					{{ end -}}
					{{ with .Params.Publication.Published }}
						<dt>{{ i18n "published" }}</dt>
						<dd>{{ . }}</dd>
					{{ end -}}
					{{ with .Params.Publication.Pages }}
						<dt>{{ i18n "pages" }}</dt>
						<dd>{{ . }}</dd>
					{{ end -}}
					{{ if .Params.Publication.ISBN }}
						<dt>ISBN</dt>
						{{ range .Params.Publication.ISBN -}}
							<dd>{{ . }}</dd>
						{{- end }}
					{{ end -}}
					</dl>
				</div>

				{{ end }}

				{{ if ge (len .TableOfContents) 150 }}
				<div class="wrapper">
					<h2>{{ (i18n "contents") }}</h2>
					{{.TableOfContents}}
				</div>
				{{ end }}

				{{ with .Params.Meta }}
				<div class="wrapper">
					{{ . | markdownify }}
				</div>
				{{ end }}

			</aside>
		{{- end }}
		</header>
		<div class="entry-content" itemprop="articleBody">
			{{ .Content }}
		</div>
	</article>
	{{ if ne .Params.show_comments false }}
		{{ template "_internal/disqus.html" . }}
	{{ end }}
{{ end }}