{{ define "main" }}
	{{- with .Resources.GetMatch "custom.css" }}
		<!-- with .Resources.GetMatch "custom.css" | toCSS | minify, issue with type of file -->
		<style>{{ .Content | safeCSS }}</style>
	{{ end -}}

	<article class="h-entry">
		{{ $featured := "" }}
		{{ if .Params.image }}
			{{ $featured = (.Resources.ByType "image").GetMatch (printf "**%s" .Params.image) }}
		{{ else }}
			{{ $featured = (.Resources.ByType "image").GetMatch "*_featured*" }}
		{{ end }}

		{{- with $featured -}}
		<div class="hero snap">
				{{- /* $resized := .Resize "600x" */ -}}
				<img src="{{ .RelPermalink  }}" alt="">
		</div>
		{{- end -}}
		<h1 class="snap"><a class="{{ if .Draft }}draft{{ end }}" href="#">{{ with .Title }}{{ . }}{{ end }}</a></h1>
		<header>
			<div class="details">
				{{ if .Params.description }}
					<div class="summary">
						{{ .Params.description | markdownify }}
					</div>
					{{ if eq .Site.Params.Sharing true }}{{ partial "sharing.html" . }}{{ end }}
				{{ end }}
			</div>
		{{ if ne .Params.Meta_display false -}}
			<aside class="meta">
				<div class="wrapper">
					<h2>{{ (i18n "metadata") }}</h2>
					<dl>
					<!-- {{ with .Params.description }}
						<dt>{{ i18n "description" }}</dt>
						<dd>{{ . | markdownify }}</dd>
					</dd>
					{{ end }} -->
					{{ if .Params.dateCreated }}
						<dt>{{ i18n "produced" }}</dt>
							<dd>{{ .Params.dateCreated }}</dd>
					{{ else }}
						<dt>{{ i18n "published" }}</dt>
							<dd>{{- if .Params.dateCreated -}}
									{{- .Params.dateCreated -}}
								{{- else -}}
									{{- if isset $.Site.Params "date_format" -}}
										{{- .Date.Format $.Site.Params.date_format -}}
									{{- else -}}
										{{- .Date.Format "2006-01-02" -}}
									{{- end -}}
								{{- end -}}
							</dd>
					{{ end }}

					{{ if (lt (add .Date.Unix 63072000) now.Unix) }}
						{{ $yearsElapsed := ( sub (int (now.Format "2006")) (int (.Date.Format "2006")) ) }}
						<dd class="time">{{ $yearsElapsed }} {{ i18n "notice-outdated" | safeHTML }}</dd>
					{{ end }}

					{{ with .Params.license }}
						<dt>{{ i18n "license" }}</dt>
						<dd>{{ . | markdownify }}</dd>
					</dd>
					{{ end }}

					{{ if .Params.Tags }}
						<dt>{{ i18n "tags" }}</dt>
						<dd class="tags">{{ range .Params.Tags -}}
							<a href="/tags/{{ . | urlize }}" class="tag" rel="tag">{{ (i18n . ) }}</a>
						{{- end }}</dd>
					{{ end }}
					</dl>
					{{ with .Params.Meta }}
						{{ . | markdownify }}
					{{ end }}
				</div>
				{{ if ge (len .TableOfContents) 150 }}
				<div class="wrapper">
					<h2>{{ (i18n "contents") }}</h2>
					{{.TableOfContents}}
				</div>
				{{ end }}
			</aside>
		{{- end }}
		</header>
		<div class="entry-content" itemprop="articleBody">
			{{ .Content }}
		</div>
	</article>
	{{ template "_internal/disqus.html" . }}
{{ end }}