<article class="{{ if eq .Type "preformatted" }} preformatted{{end}}{{ with .Draft }} draft{{ end }}" lang="{{ with .Lang }}{{ . }}{{ end }}" data-tags="{{ if .Params.tags }}{{ delimit .Params.tags " " }}{{ end }}">
{{- if eq .Type "preformatted" -}}
	<pre>{{ .RawContent | safeHTML }}</pre>
{{- else if eq .Type "ephemera" -}}
	{{ .RawContent | safeHTML }}
{{- else -}}
	<a href="
	{{ with .Resources.GetMatch (printf "**%s" .Params.directURL) }}
		{{ .RelPermalink }}
	{{ else }}
		{{ .RelPermalink }}
	{{ end }}">
		{{ $featured := "" }}
		{{ if .Params.image_preview }}
			{{ $featured = (.Resources.ByType "image").GetMatch (printf "**%s" .Params.image_preview) }}
		{{ else if .Params.image }}
			{{ $featured = (.Resources.ByType "image").GetMatch (printf "**%s" .Params.image) }}
		{{ else }}
			{{ $featured = (.Resources.ByType "image").GetMatch "*_featured*" }}
		{{ end }}
		<figure class="thumbnail" href="{{ .RelPermalink }}">
			{{- with $featured -}}
			{{- $resized := .Resize "600x" -}}
			<img src="{{ $resized.RelPermalink  }}" alt="">
			{{- end -}}
		</figure>
		<time class="time dt-published" datetime="{{ .Date.Format "2006-01-02" }}">
			{{- if .Params.dateCreated -}}
				{{- .Params.dateCreated -}}
			{{- else if .Params.dateRead -}}
				{{- .Params.dateRead -}}
			{{- else -}}
				{{- if isset $.Site.Params "dateformat" -}}
					{{- .Date.Format $.Site.Params.dateformat -}}
				{{- else -}}
					{{- .Date.Format "2006-01-02" -}}
				{{- end -}}
			{{- end -}}
		</time>
		<h3 class="title">{{ .Title }}</h3>
		<p class="summary">
		{{- with .Params.Publication.Author -}}
			{{ . }}
		{{- end -}}
		{{- with .Params.description }}
			{{ . | plainify | markdownify }}
		{{- end -}}
		</p>
		{{- with .Params.Rating }}
			<p class="rating">{{ range seq (int . ) }}★{{ end }}</p>
		{{- end -}}		
		{{ if .Params.Tags }}
			<p class="tags">{{ range .Params.Tags -}}
				<a class="tag" rel="tag">{{ (i18n . ) }}</a>
			{{- end }}</p>
		{{ end }}
	</a>
{{- end -}}
</article>