{{- $featuredClass := .Page.Store.Get "featuredClass" | default "thumbnail" -}}
{{- $featured := "" -}}
{{- if eq $featuredClass "cover" -}}
	{{- with .Params.cover -}}{{ $featured = . }}
	{{- else with .Params.featured -}}{{ $featured = . }}
	{{- else with (.Resources.ByType "image").GetMatch "{*cover*,*featured*}" -}}{{ $featured = . }}
	{{- end -}}
{{- else -}}
	{{- with .Params.thumbnail -}}{{ $featured = . }}
	{{- else with .Params.featured -}}{{ $featured = . }}
	{{- else with (.Resources.ByType "image").GetMatch "{*thumbnail*,*featured*}" -}}{{ $featured = . }}
	{{- end -}}
{{- end -}}
{{- with $featured }}
<figure class="{{ $featuredClass }}">
	{{ partial "render-image" (dict "Page" $.Page "Destination" . ) }}
</figure>
{{- end -}}
