{{ if ne .Site.Params.Menu_main false }}
<nav>
	<ul>
		<!-- {{- range .Site.RegularPages -}}
			{{ if and (eq .Section "") (ne .Params.menu_hide true) -}}
			<li><a href="{{ .RelPermalink }}">{{ with .Title }}{{ . | title }}{{ else }}{{ .File.ContentBaseName | title }}{{ end }}</a></li>
			{{- end }}
		{{- end -}} -->
		{{- range .Site.Menus.main -}}
			<li class="{{ if .HasChildren }}has-children{{ end }}"><a href="{{ .URL }}">{{ (i18n .Name) }}</a>{{ if .HasChildren -}}
				<ul>
					{{- range .Children -}}
						<li><a href="{{ .URL }}">{{ (i18n .Name) }}</a></li>
					{{- end -}}
				</ul>
			{{- end -}}</li>
		{{- end -}}
	</ul>
</nav>
{{ end }}