{{ if ne site.Params.Menu_main false }}
<nav class="menu">
	<menu>
		{{- with index site.Menus.main -}}
			{{- range . -}}
				<li class="{{ if .HasChildren }}has-children{{ end }}">{{ .Pre }}<a href="{{ .URL }}"{{ if eq .URL $.RelPermalink }} aria-current="page"{{ end }}>{{ .Name }}</a>{{ .Post }}{{ if .HasChildren -}}
					<menu>
						{{- range .Children -}}
							<li><a href="{{ .URL }}"{{ if eq .URL $.RelPermalink }} aria-current="page"{{ end }}>{{ .Pre }}{{ .Name }}{{ .Post }}</a></li>
						{{- end -}}
					</menu>
				{{- end -}}</li>
			{{- end -}}
		{{- else -}}
			{{- range site.RegularPages -}}
				{{ if and (eq .Section "") (ne .Params.menu_hide true) -}}
				<li><a href="{{ .RelPermalink }}"{{ if eq .RelPermalink $.RelPermalink }} aria-current="page"{{ end }}>{{ with .Title }}{{ . | title }}{{ else }}{{ .File.ContentBaseName | title }}{{ end }}</a></li>
				{{- end }}
			{{- end -}}
		{{- end -}}
	</menu>
</nav>
{{ end }}