<aside class="meta">
	{{ if .Params.series -}}
		<details open>
			<summary>{{ (i18n "in-series") }}</summary>
			{{ with .Params.series }}
				<dl>{{- range $name := . }}
					<dt>{{ i18n . }}</dt>
					{{- $series := index site.Taxonomies.series $name }}
					{{- range $series.Pages.ByDate }}
						<dd><a {{ if ne $.Permalink .Permalink }} href="{{ .Permalink }}"{{ end }}>{{ .Title }}</a></dd>
					{{- end }}
				{{ end }}
			{{ end }}</dl>
		</details>
	{{ end }}
	{{ if and (ne .Site.Params.show_toc false) (ne .Params.show_toc false) -}}
		{{ if ge (len .TableOfContents) 150 }}
		<details>
			<summary>{{ (i18n "contents") }}</summary>
			{{.TableOfContents}}
		</details>
		{{ end }}
	{{ end }}
	<details>
		<summary>{{ (i18n "post-details") }}</summary>
		<dl>
		{{ if .Lastmod }}
			<dt>{{ i18n "modified-date" }}</dt>
				<dd>
					<time datetime="{{ .Lastmod }}">
					{{- if isset site.Params "date_format" -}}
						{{- .Lastmod.Format site.Params.date_format -}}
					{{- else -}}
						{{- .Lastmod.Format "2006-01-02" -}}
					{{- end -}}
					</time>
				</dd>
		{{ end }}
		{{ if .Params.dateCreated }}
			<dt>{{ i18n "created-date" }}</dt>
				<dd>{{ .Params.dateCreated }}</dd>
		{{ else }}
			<dt>{{ i18n "publish-date" }}</dt>
				<dd>
					<time datetime="{{ .Date }}">
					{{- if isset site.Params "date_format" -}}
						{{- .Date.Format site.Params.date_format -}}
					{{- else -}}
						{{- .Date.Format "2006-01-02" -}}
					{{- end -}}
					</time>
				</dd>
		{{ end }}

		{{ if (lt (add .Date.Unix 63072000) now.Unix) }}
			{{ $yearsElapsed := ( sub (int (now.Format "2006")) (int (.Date.Format "2006")) ) }}
			<dd class="time">{{ $yearsElapsed }} {{ i18n "notice-outdated" | safeHTML }}</dd>
		{{ end }}

		{{ with .Params.DateRead }}
			<dt>{{ i18n "read-date" }}</dt>
				<dd>{{ . }}</dd>
		{{ end }}

		{{ with .Params.Rating }}
			<dt>{{ i18n "rating" }}</dt>
				<dd title="{{ . }}">
					{{- range seq (int . ) }}★{{ end -}}
				</dd>
		{{ end }}

		{{ with .Params.license }}
			<dt>{{ i18n "license" }}</dt>
			<dd>{{ . | plainify | markdownify }}</dd>
		{{ end }}

		{{ if .Params.Tags }}
			<dt>{{ i18n "tags" }}</dt>
			<dd class="tags">{{ partial "tags-list" . }}</dd>
		{{ end }}
		</dl>
	</details>

	{{- if eq .Type "review" -}}
	<details open>
		<summary>{{ (i18n "publication-details") }}</summary>
		<dl>
		{{ with .Params.Publication.Title }}
			<dt>{{ i18n "title" }}</dt>
			<dd>
			{{- if $.Params.Publication.URL }}<a href="{{ $.Params.Publication.URL }}">{{ end -}}
			{{ . }}
			{{- if $.Params.Publication.URL }}</a>{{ end -}}
			</dd>
		{{ end -}}
		{{- with .Params.Publication.Subtitle }}
			<dd>{{ . }}</dd>
		{{ end -}}
		{{- with .Params.Publication.TitleOriginal }}
			<dd>{{ . }}</dd>
		{{ end -}}
		{{ with .Params.Publication.Author }}
			<dt>{{ i18n "author" }}</dt>
			<dd>{{ . }}</dd>
		{{ end -}}
		{{ with .Params.Publication.Publisher }}
			<dt>{{ i18n "publisher" }}</dt>
			<dd>{{ . }}</dd>
		{{ end -}}
		{{ with .Params.Publication.Published }}
			<dt>{{ i18n "published" }}</dt>
			<dd>{{ . }}</dd>
		{{ end -}}
		{{ with .Params.Publication.Pages }}
			<dt>{{ i18n "pages" }}</dt>
			<dd>{{ . }}</dd>
		{{ end -}}
		{{ if .Params.Publication.ISBN }}
			<dt>ISBN</dt>
			{{ range .Params.Publication.ISBN -}}
				<dd>{{ . }}</dd>
			{{- end }}
		{{ end -}}
		</dl>
	</details>
	{{ end }}
	{{ with .Params.Github -}}
		{{- $stats := getJSON "https://api.github.com/repos/" . -}}
		<details open>
			<summary>{{ i18n "hosted-on-github" }}</summary>
			<dl>
				<dt>{{ i18n "github-repository" }}</dt>
					<dd><a href="https://github.com/{{ . }}" target="_blank">{{ . }}</a></dd>
				{{ with $stats.license }}<dt>{{ i18n "github-license" }}</dt>
					<dd>{{ .name }}</dd>{{ end }}
				<dt>{{ i18n "github-last-pushed" }}</dt>
					<dd>{{ $stats.pushed_at }}</dd>
			</dl>	
		</details>
	{{ end }}
	{{ with .Params.Meta }}
	<details>
		<summary>{{ i18n "post-meta" }}</summary>
		{{ . | markdownify }}
	</details>
	{{ end }}
</aside>