<script src="{{ "/scripts/jquery.min.js" | relURL }}" data-no-instant></script>
<script async src="{{ "/scripts/fancybox/jquery.fancybox.min.js" | relURL }}"></script>

<script async src="{{ "/scripts/jquery.argil.js" | relURL }}"></script>

<script async src="{{ "/scripts/leader-line.min.js" | relURL }}" ></script>

<!-- <script async src="{{ "/scripts/instantpage.js" | relURL }}" type="module"></script> -->

<!-- <script src="{{ "/scripts/instantclick.min.js" | relURL }}" data-no-instant></script>
<script data-no-instant>InstantClick.init();</script> -->

{{ with .Resources.Match "script.js" }}
<script async src="./script.js"></script>
{{ end }}

{{ template "_internal/google_analytics_async.html" . }}