<!-- layouts/partials/search.html -->
<form id="search-form" class="noscript" method="GET" action="https://duckduckgo.com/" data-language-prefix="{{ site.LanguagePrefix }}">
	<div class="search-bar">
		<input id="search-input" class="search--display" name="q" tabindex="0" autocomplete="off" {{ with site.BaseURL }}value=" site:{{ . }}"{{ end }} placeholder="{{ i18n "search" }}">
		<input id="search-submit" class="icon" type="submit" value="⌕">
	</div>
	<ul id="search-results" class="search--display"></ul>
</form>
<script src="{{ "/scripts/askolonion/askolonion.js" | relURL }}"></script>