<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta name="robots" content="noindex" />
	<meta name="viewport" content="width=device-width,initial-scale=1">
	{{- $inlineCSS := resources.Get "/styles/essential.css" | minify -}}
	<style>{{ $inlineCSS.Content | safeCSS }}</style>
</head>
<body>
	<main>
		<h1>{{ i18n "404-error" }}{{ with .Site.Title }} • {{ . }}{{ end }}</h1>
		<p>
		{{- with .Site.BaseURL }}<a href="{{ . | relLangURL  }}">{{ i18n "404-back" }}</a>
		{{- else }}…{{ end -}}
		</p>
	</main>
</body>
</html>