/*--------------------------------------------------------------
global CSS variables
--------------------------------------------------------------*/
:root {
	--font-mono: 'Fantasque', 'Segoe UI', 'Ubuntu Mono', 'Consolas', monospace;
	--font-serif: 'Alegreya', 'Gentium', 'Georgia', serif;
	--font-sans: 'Alegreya Sans', 'Helvetica', 'Arial', serif;

	--max-content: 30rem;

	--line-height: 1.4;
	--baseline: calc(1rem * var(--line-height));
}


/*--------------------------------------------------------------
themes
--------------------------------------------------------------*/

:root {
	--page-color: 204, 204, 204;
	--text-color: 30, 30, 30;
	--hyperlink-color: 0, 0, 0;
	--accent-color: 0, 0, 255;
	--text-color-inverted: 200, 200, 200;
}

@media (prefers-color-scheme: dark) {
	:root {
		--page-color: 30, 30, 30;
		--text-color: 204, 204, 204;
		--hyperlink-color: 255, 255, 255;
		--accent-color: 0, 0, 255;
		--text-color-inverted: 100, 100, 100;
	}
}


/*--------------------------------------------------------------
reset styles
--------------------------------------------------------------*/

figure {
	margin: 0;
}

img, picture, video, canvas, svg {
	display: block;
	margin: auto;
	max-width: 100%;
	height: auto;
}

svg {
	stroke: currentColor;
	fill: currentColor;
}

hr {
	margin: var(--baseline) auto;
	height: var(--baseline);
	font-size: var(--s03);

	border: 0;
	color: inherit;
	overflow: hidden;
}

	hr::before {
		content: '* * *';
		display: block;
		text-align: center;
	}


/*--------------------------------------------------------------
navigation styles
--------------------------------------------------------------*/

nav a {
	text-decoration: none;
}

nav li {
	min-height: var(--baseline);
	vertical-align: bottom;
}

nav ul {
	margin: 0;
	padding: 0;
	text-align: center;

	align-items: center;
	justify-content: center;
}

nav > ul {
	display: flex;
	flex-wrap: wrap;
}

nav > ul > li {
	flex-basis: auto;
	display: inline-block;
}

nav > ul > li + li {
	margin-inline-start: 1em;
}

nav > ul > li > a {
	display: inline-block;
	min-height: var(--baseline);
}


/*--------------------------------------------------------------
structure and style
--------------------------------------------------------------*/

html {
	font-size: 112%;
	font-size: calc(112% + 0.5vw);
}

body {
	max-width: 30em;
	margin: 0 auto;

	background: rgb(var(--page-color));
	font-family: var(--font-sans);
	font-size: 1.1rem;
	color: rgb(var(--text-color));
}

body > header, main, body > footer {
	margin: var(--baseline);
}

a {
	color: rgb(var(--hyperlink-color));
	text-decoration: underline;
}

h1, h2, h3, h4 {
	font-size: 1.2rem;
	font-weight: medium;
}

footer {
	font-size: 80%;
	text-align: center;
}


/*--------------------------------------------------------------
article styles
--------------------------------------------------------------*/

article {
	margin: var(--baseline) auto;
}

article > a {
	text-decoration: none;
}

article > a .title {
	text-decoration: underline;
}

article .time {
	display: block;
}

article .title {
	display: inline;
	margin-inline-end: .5em;
	font-size: 1em;
}

article .summary {
	display: inline;
	text-decoration: none;
}

article .thumbnail {
	width: 100%;
}

.meta {
	font-size: 80%;
	margin: var(--baseline) 0;
}

.meta details {
	border-top: 2px dashed;
}

.meta details:last-child {
	border-bottom: 2px dashed;
}


/*--------------------------------------------------------------
taxonomy styles
--------------------------------------------------------------*/

.taxa {
	text-align: center;
}

.taxon {
	display: inline;
	font-size: 80%;
}

.taxon + .taxon {
	margin-inline-start: 1em;
}


/*--------------------------------------------------------------
temporary / in progress
--------------------------------------------------------------*/

#search__form,
.gadgets {
	display: none;
}