@charset "utf-8";
/*--------------------------------------------------------------
onionskin theme
made by: Heacles Papatheodorou
url: https://heracl.es/onionskin
--------------------------------------------------------------*/

/*--------------------------------------------------------------
syntax highlighting: algol_nu
via https://xyproto.github.io/splash/docs/longer/all.html
--------------------------------------------------------------*/
@import "./syntax.css";
.highlight { background: none; }

/*--------------------------------------------------------------
global CSS variables
--------------------------------------------------------------*/
:root {
	/* font stacks */
	--font-mono: 'Fantasque', 'Segoe UI', 'Ubuntu Mono', 'Consolas', monospace;
	--font-serif: 'Alegreya', 'Gentium', 'Georgia', serif;
	--font-sans: 'Alegreya Sans', 'Helvetica', 'Arial', serif;

	/* layout */
	--scrollbar-width: 2vw;
	/*--content-width: 60ch; /* is not same for different fonts */
	--content-width: 30rem;
	/*--content-width: 100%;*/ /* DEBUG */

	--line-height: 1.4rem;
	--gutter-height: calc(1*var(--line-height));
	/*--gutter-width: 1.4rem;*/
	/*--offset: --gutter-width;*/
	/*--gutter-width: 0px; /* DEBUG */

	/*
		- themes to be compatble with https://github.com/hundredrabbits/Themes
		- will need probably need a way to convert hex to RGB / HSL
		- check how color fallbacks can work with css variables


		The Theme format holds only 9 different colors.

			background, Application Background.
			f_high, Foreground, high-contrast.
			f_med, Foreground, medium-contrast.
			f_low, Foreground, low-contrast.
			f_inv, Foreground, inverted.
			b_high, Background, high-contrast.
			b_med, Background, medium-contrast.
			b_low, Background, low-contrast.
			b_inv, Background, inverted.

	*/

	--page-color-transparency: 0.89;
	--page-color-blur: 2px;

	/* color theme */
	--page-color: 221, 238, 255;
	--text-color: 34, 34, 50;
	--hyperlink-color: 34, 34, 50;
	--accent-color: 0, 0, 255;
	--text-color-inverted: 255, 255, 255;

	/* auto-calculated colors */
	--shadow-color: rgba(var(--text-color),0.2);

	/* misc colors */
	--text-color-error: 255, 0, 0;


	/* text scales */

	--ratio: 1.5;
	--s-5: calc(var(--s-4) / var(--ratio));
	--s-4: calc(var(--s-3) / var(--ratio));
	--s-3: calc(var(--s-2) / var(--ratio));
	--s-2: calc(var(--s-1) / var(--ratio));
	--s-1: calc(var(--s0) / var(--ratio));
	--s0: 1rem;
	--s1: calc(var(--s0) * var(--ratio));
	--s2: calc(var(--s1) * var(--ratio));
	--s3: calc(var(--s2) * var(--ratio));
	--s4: calc(var(--s3) * var(--ratio));
	--s5: calc(var(--s4) * var(--ratio));
}



/*--------------------------------------------------------------
themes
--------------------------------------------------------------*/

body.light {
	--page-color: 221, 238, 255;
	--text-color: 34, 34, 50;
	--hyperlink-color: 34, 34, 50;
	--accent-color: 0, 0, 255;
	--text-color-inverted: 255, 255, 255;
	--shadow-color: rgba(var(--text-color),0.2);
}

body.dark {
	--page-color: 34, 34, 34;
	--text-color: 204, 204, 204;
	--hyperlink-color: 204, 204, 204;
	--accent-color: 205, 35, 185;
	--text-color-inverted: 20, 20, 20;
	--shadow-color: rgba(var(--text-color),0.2);
}

body.black {
	--page-color: 0, 0, 0;
	--text-color: 250, 250, 250;
	--hyperlink-color: 250, 250, 250;
	--accent-color: 205, 35, 185;
	--text-color-inverted: 20, 20, 20;
	--shadow-color: rgba(var(--text-color),0.2);
}

body.white {
	--page-color: 255, 255, 255;
	--text-color: 34, 34, 34;
	--hyperlink-color: 34, 34, 34;
	--accent-color: 0, 0, 255;
	--text-color-inverted: 200, 200, 200;
	--shadow-color: rgba(var(--text-color),0.2);
}

body.gray, body.grey {
	--page-color: 204, 204, 204;
	--text-color: 0, 0, 0;
	--hyperlink-color: 0, 0, 0;
	--accent-color: 0, 0, 255;
	--text-color-inverted: 200, 200, 200;
	--shadow-color: rgba(var(--text-color),0.2);
}

body.peach {
	--page-color: 255, 204, 238;
	--text-color: 0, 0, 0;
	--hyperlink-color: 0, 0, 0;
	--accent-color: 0, 0, 255;
	--text-color-inverted: 255, 255, 255;
}

body.gold {
	--page-color: 43, 0, 0;
	--text-color: 189, 159, 92;
	--hyperlink-color: 189, 159, 92;
	--accent-color: 189, 30, 46;
	--text-color-inverted: 0, 0, 0;
	--shadow-color: rgba(var(--text-color),0.2);
}

body.blue {
	--page-color: 0, 0, 255;
	--text-color: 255, 255, 255;
	--hyperlink-color: 255, 255, 255;
	--accent-color: 255, 0, 0;
	--text-color-inverted: 0, 0, 255;
	--shadow-color: rgba(var(--text-color),0.2);
}

@media (prefers-color-scheme: dark) {
	:root {
		--page-color: 34, 34, 34;
		--text-color: 204, 204, 204;
		--hyperlink-color: 204, 204, 204;
		--accent-color: 205, 35, 185;
		--text-color-inverted: 20, 20, 20;
		--shadow-color: rgba(var(--text-color),0.2);
	}
}



/*--------------------------------------------------------------
theme styles
--------------------------------------------------------------*/

::selection {
	background: rgb(var(--text-color));
	color: rgb(var(--text-color-inverted));
	text-shadow: none;
}

/*:root {
	scrollbar-color: rgb(var(--accent-color)) transparent !important;
	scrollbar-width: thin !important;
}*/

body {
	background: #fff; /* fallback */
	background: rgb(var(--page-color));
	color: #000; /* fallback */
	color: rgb(var(--text-color));

	/* transition messes with custom styles */
	/*-webkit-transition: background 0.3s;*/
	/*transition        : background 0.3s;*/
}

body > header a,
h1 a, h2 a {
	color: rgb(var(--text-color));
	text-decoration: none;
}



/*--------------------------------------------------------------
fonts & type

Alegrya: via https://www.huertatipografica.com/en/fonts/alegreya-ht-pro
Lekton (Greek): via https://www.roleplay.gr/blog/greekifying-lekton-font
FantasqueSan: via https://github.com/belluzj/fantasque-sans;
icon font via https://icomoon.io (Brands iconset)
--------------------------------------------------------------*/

@font-face {
	font-family: 'Alegreya';
	src: url('../fonts/Alegreya-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Alegreya';
	src: url('../fonts/Alegreya-Italic.woff2') format('woff2');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Alegreya';
	src: url('../fonts/Alegreya-Bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Alegreya Sans';
	src: url('../fonts/AlegreyaSans-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Alegreya Sans';
	src: url('../fonts/AlegreyaSans-Italic.woff2') format('woff2');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Alegreya Sans';
	src: url('../fonts/AlegreyaSans-Bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Fantasque';
	src: url('../fonts/FantasqueSansMono-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Fantasque';
	src: url('../fonts/FantasqueSansMono-Bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'icons';
	src: url('../fonts/icons.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}


:root,
.serif {
	font-family: serif; /* fallback */
	font-family: var(--font-serif);
	font-size: 125%; /* fallback */
	font-size: calc(1rem + 0.5vw);
}

.mono,
button,
.monospace,
.button, .tag,
.languages, .sharing, .social {
	font-family: monospace; /* fallback */
	font-family: var(--font-mono);
	font-size: 0.92rem; /* adjust for x-height */
}

.sans {
	font-family: sans-serif; /* fallback */
	font-family: var(--font-sans);
}

body {
	font-size: 1rem;
	line-height: var(--line-height);
	
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body * {
	line-height: inherit;
}

.meta h2,
body > header h1 {
	font-size: 1em;
}

.tag, .button,
figcaption,
.entry-content blockquote {
	font-size: 0.8rem;
}

body > header,
body > footer {
	font-size: 0.8rem;
	line-height: 1.3;
}


pre, input, textarea {
	font-family: inherit;
	font-size: 0.8em;
}

code, kbd {
	font-family: var(--font-mono);
	font-size: 0.92em; /* adjust for x-height */
}

aside.meta,
.sidenote, .entry-content aside,
.footnotes,
abbr:before, abbr:after, a[title*=' ']:before {
	font-size: 0.8em;
}

/*--------------------------------------------------------------
reset styles
--------------------------------------------------------------*/

html {
	position: relative;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

* {
	margin: 0;
	padding: 0;
}

svg {
	stroke: currentColor;
	fill: currentColor;
}


img {
	display: block;
	margin: auto;
	max-width: 100%;
	height: auto;

	-webkit-user-select: none !important;
	user-select: none !important;
}

figure {
	page-break-inside: avoid;
	break-inside: avoid;
}

figure img {
	display: block;
	margin: 0 auto;
}

figcaption {
	text-align: center;
}

ul {
	list-style: none;
}

li ul, li ol {
	margin: 0;
}

article, aside, figure, figcaption, 
footer, header, main, nav, section {
	display: block;
}

body {
	font-kerning: normal;
	font-variant: common-ligatures oldstyle-nums proportional-nums;
	font-feature-settings: "kern", "liga", "clig", "onum", "pnum";
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0;

	font-variant: common-ligatures lining-nums proportional-nums;
	font-feature-settings: "kern", "liga", "clig", "lnum", "pnum";
	font-weight: normal;
}

code {
	font-variant: no-common-ligatures lining-nums;
	font-feature-settings: "kern" 0, "liga" 0, "clig" 0, "lnum";
}

table {
	font-variant-numeric: lining-nums tabular-nums;
	font-feature-settings: "kern", "lnum", "tnum";
}

hr {
	margin: var(--gutter-height) 0;
	overflow: hidden;

	border: 0;
}
	hr:before {
		content: '* * *'; /* ⁂ ✻ 〜 */
		display: block;
		height: 2.1rem;

		color: rgba(var(--text-color),1);
		font-size: 2.1rem;
		line-height: 2rem;
		text-align: center;
	}

p, li {
	font-variant-ligatures: normal;

	-webkit-hyphens	: auto;
	hyphens			: auto;	
	white-space: normal;
	/*text-align: justify;*/
}

pre {
	margin: var(--gutter-height) 0;
	padding: 0;
	overflow: hidden;

	white-space: pre;
}


code {
	display: inline-block;
	padding: 0.2em 0.25em 0.15em 0.25em;

	background: var(--shadow-color);
	border-radius: 1.5px;
	line-height: 1.1;
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-all;
	word-break: break-word;
}

pre > code {
	display: block;
	position: relative;
	margin: 0;
	padding: 1.4rem 0.7rem;
	width: 100%;
	overflow: hidden;

	text-overflow: ellipsis;
}
	pre > code:hover {
		overflow-x: auto;
		text-overflow: initial;
	}
	pre > code:before {
		content: attr(data-lang);
		position: absolute;
		top: 0.4rem;
		left: 0.7rem;

		color: rgb(var(--page-color));
		font-size: 85%;
	}

mark {
	background: rgba(var(--accent-color),0.1);
	color: rgb(var(--text-color));
}
	mark:hover {
		background: rgba(var(--accent-color),1);
		color: rgb(var(--text-color-inverted));
	}
	mark:before, mark:after {
		content: '\00A0';
	}

abbr {
	/*position: relative;*/
	font-variant: small-caps;
	text-decoration: none;
	text-transform: lowercase;
}
	abbr[title*=' '] {
		cursor: help;
	}
	abbr:after {
		display: inline-block;
		margin-left: -0.1em;
		line-height: 1.3;

		font-variant: initial;
		text-transform: initial;
	}
	abbr[title*=' ']:after {
		content: '*';
		/*position: absolute;*/
		top: -0.2em;
	}

	/* the following has been incorporated in the tooltips section
	/*	
	@media (pointer: coarse) {
		abbr[title*=' ']:hover:after {
			content: attr(title);
			display: inline-block;
			position: absolute;
			top: 2em;
			left: 0;
			padding: 0.3em 0.5em;

			background: rgba(var(--page-color),var(--page-color-transparency));
			backdrop-filter: blur(var(--page-color-blur));
			border: 1px solid;
		}
	}*/

kbd {
	display: inline-block;
	padding: 0.2em;
	min-width: 1.5em;
	min-height: 1.5em;
	
	border: 1px solid;
	border-radius: 3px;
	line-height: 1;
	text-align: center;

	-webkit-box-shadow: 2px 2px 0px 0px var(--shadow-color);
	box-shadow:         2px 2px 0px 0px var(--shadow-color);
}


sub, sup {
	font-size: 0.7em;
	line-height: calc(var(--line-height)/2);
}

sub {
	vertical-align: sub;
	vertical-align: -30%;
}

sup {
	vertical-align: super;
	vertical-align: 50%;
}


ins, del, s {
	text-decoration-thickness: 0.5px;
}



/*--------------------------------------------------------------
article styles / content elements
.entry-content
--------------------------------------------------------------*/


main ul li:before {
	content: '-';
	position: absolute;
	margin-left: calc(-1*var(--gutter-width));
}

main ul,
main ol {
	padding-left: var(--gutter-width);
}

/*restore margin to block level elements*/
main p,
main img,
main ul,
main ol,
main figure,
main aside {
	/*margin-top: var(--gutter-width);*/
	margin-bottom: 2rem; /* fallback */
	margin-bottom: var(--gutter-height);
}

main blockquote {
	margin-top: var(--gutter-height);
	margin-bottom: var(--gutter-height);
	padding-left: var(--gutter-width);

	quotes: none;
	text-align: left;
}

main blockquote::before {
	content: '“';
	float: left;
	margin-left: -0.8em;

	font-size: 200%;
	line-height: 1;
}
	main blockquote:lang(el)::before {
		content: '»';
		margin-top: -0.5em;
	}

main blockquote + figcaption {
	text-align: right;
}

.entry-content dd {
	margin-left: var(--gutter-width);
}

/*--------------------------------------------------------------
helper / common classes
--------------------------------------------------------------*/

.center {
	display: block;
	margin: 0 auto;
	text-align: center;
}

.left {
	display: block;
	float: left;
}

.right {
	display: block;
	float: right;
}

.group .left,
.group .right {
	float: none;
}

.group {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin: calc(-1*var(--gutter-width)/2);
}

.half {
	flex-basis: calc((var(--content-width)/2 - 0.5*var(--gutter-width)));
	flex-grow: 1;
	margin: calc(var(--gutter-width)/2);
}

.hidden, .secret {
	display: none;
}

.callout {
	margin: var(--gutter-height) auto;
	color: rgb(var(--accent-color));
	font-size: 2.5rem;
	line-height: 1.3;
}



/*--------------------------------------------------------------
form styles
--------------------------------------------------------------*/

form {
	margin: var(--gutter-height) 0;
}

input[type="text"],
input[type="email"],
textarea {
	background: none;
	border: 1.5px solid rgb(var(--text-color));
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
	border-color: rgb(var(--accent-color));
}

input[type="text"],
input[type="email"] {
	border-top: none;
	border-left: none;
	border-right: none;
}

.button {
	display: block;
	margin: 0.5rem auto;
	padding: 0.6rem 0.6rem 0.5rem 0.6rem;

	background: rgb(var(--page-color));
	border: 1.5px solid rgb(var(--text-color));
	border-bottom: 3px solid;
	border-radius: 2rem;
	color: rgb(var(--text-color));
	/*letter-spacing: 1px;*/
	line-height: 0.5;	
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;

	cursor: pointer;
	pointer-events: auto;

	box-shadow: 0px 5px 0px 0px var(--shadow-color);

	-webkit-appearance: button; /* iOS and Safari fix */
}

.button:hover {
	box-shadow: inset 0 2rem 0 var(--shadow-color), 0px 3px 0px 0px var(--shadow-color);
	color: rgb(var(--text-color));
	text-decoration: none;
	transform: translate(0, 1px);
}

.button:focus {
	border-top: 3px solid;
	border-bottom: 1.5px solid;
	box-shadow: inset 0 2rem 0 var(--shadow-color), 0px 3px 0px 0px var(--shadow-color);
	outline: none;
}

.button::-moz-focus-inner { border: 0; }



/*--------------------------------------------------------------
table styles
--------------------------------------------------------------*/

table {
	margin: var(--gutter-height) auto;
	width: 100%;
	/*table-layout: fixed;*/
	overflow-x: scroll;
	
	border-top:    1.5px solid rgb(var(--text-color));
	border-bottom: 1.5px solid rgb(var(--text-color));
	border-spacing: 0.25rem;
	text-align: left;
}

table caption {
	padding-right: var(--gutter-width);

	caption-side: bottom;
	text-align: right;
}

th, td {
	padding: 0.25rem;

	-webkit-transition: all 0.3s;
	transition        : all 0.3s;
}

th {
	border-bottom: 0.5px solid rgb(var(--text-color));
}

th:empty {
	display: none;
}

tr:hover td {
	background: var(--shadow-color);
}



/*--------------------------------------------------------------
structural styles
--------------------------------------------------------------*/

html {
	/*text-align: center;*/
}

body {
	position: relative;
	max-width: 100vw;
}

body > header,
body > footer {
	padding: var(--gutter-width);
	width: calc(100vw - var(--scrollbar-width));
}

body > header > *,
body > footer > *,
body > main > * {
	margin-left: auto;
	margin-right: auto;
	max-width: 40em; /* fallback */
	max-width: var(--content-width);
	/*outline: 1px dashed red; /* DEBUG */
}

body > header {
	/*z-index: 103;*/
	/*opacity: 0.999;*/
	--space: 1rem;
	overflow: hidden;
	/*outline: 1px dashed yellow;*/
}

body > header > * {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	/*margin: calc(var(--space) / 2 * -1);*/
}

body > header > * > * {
	/*margin: calc(var(--space) / 2);*/
	/*outline: 1px dotted red;*/
}

body > header h1 {
	/*height: var(--header-height);*/
}

body > header .description {
	display: block;
}

body > header nav,
body > footer nav {
	min-height: var(--line-height);
}

body > header nav {
	margin-top: 0;
}

body > header nav li,
body > footer nav li {
	display: inline-block;
	margin-right: 0.6rem;
}

body > main {
	position: relative;
	margin-bottom: calc(6*var(--line-height));
	/*margin-bottom: 100vh;*/
	padding: 0 var(--gutter-width);
	min-height: 100vh;

	background: inherit;
	z-index: 100;
}

body > footer {
	/*position: fixed;*/
	bottom: 0;
	clear: both;
	/*height: 100vh;*/
	z-index: 1;

	text-align: center;
}

body > footer .author-card .avatar {
	max-height: calc(4*var(--line-height));
	border-radius: 50%;
}

body > footer .social {

}

body > footer .copyright {
	margin-top: var(--gutter-height);
}


body > footer nav ul {
	margin: 0;
	padding: 0;
}

body > footer nav ul {
	margin: 0;
	padding: 0;
	text-align: center;
}


/*--------------------------------------------------------------
panel styles
--------------------------------------------------------------*/

.sticky {
	position: sticky !important;
	top: 0;
}

.panel {
	display: flex;
	position: relative;
	top: 0;
	flex-direction: column;
	padding: var(--gutter-width);
	min-height: 100vh;
	max-width: calc(100vw - var(--scrollbar-width));
	width: calc(100vw - var(--scrollbar-width));

	margin-left: calc(50% - 50vw + var(--scrollbar-width)/2) !important;
	margin-right: calc(50% - 50vw + var(--scrollbar-width)/2) !important;


	align-items: center;
	/*backdrop-filter: blur(var(--page-color-blur));*/ /* too heavy on rendering, doesn't apply well to :before and :after */
	background-color: rgba(var(--page-color), var(--page-color-transparency));
	justify-content: center;
}
	.panel:first-child {
		--page-color-transparency: 1;
	}
/*	.panel:last-child {
		margin-bottom: var(--gutter-height);
	}*/

/*.panel + *:not(.panel) {
	margin-top: var(--gutter-height);
}*/

body > main:after,
.panel:before,
.footnotes li[id^="fn:"]:target:before {
	display: block;
	content: '';
	position: absolute;
	left: 0;
	height: calc(6*var(--line-height));
	width: 100%;

	background: inherit;
	white-space: nowrap;
	pointer-events: none;
}
	.panel:before,	
	.footnotes li[id^="fn:"]:target:before {
		top: calc(-6*var(--line-height));
		-webkit-mask-image: -webkit-linear-gradient(bottom, rgba(0,0,0,1) 0, rgba(0,0,0,0) 100%);
		/*background: red;*/
	}
		.panel:first-child:before {
			display: none;
		}
	body > main:after {
/*		bottom: calc(-6*var(--line-height));
		-webkit-mask-image: -webkit-linear-gradient(top, rgba(0,0,0,1) 0, rgba(0,0,0,0) 100%);
		background: green;*/
	}

.panel > * {
	display: block;
	flex-shrink: 0;
	margin-left: auto;
	margin-right: auto;
	max-width: var(--content-width);
}

/*.panel.clear:nth-last-of-type(1) {*/
.panel.sticky.clear {
	--page-color-transparency: 1;

	min-height: calc(100vh - 3rem);
}

.panel.sticky.clear:after {
	display: block;
	content: '';
	position: absolute;
	bottom: -3rem;
	left: 0;
	height: 3rem;
	width: 100%;

	background: none;
}

.fullwidth,
.hero {
	display: block;
	max-width: calc(100vw - var(--scrollbar-width));
	width: calc(100vw - var(--scrollbar-width));

	margin-left: calc(50% - 50vw + var(--scrollbar-width)/2) !important;
	margin-right: calc(50% - 50vw + var(--scrollbar-width)/2) !important;

	text-align: center;
	/*grid-column: full;*/
}

.fullwidth img,
.hero img {
		margin: 0;
		width: 100%;
		height: auto;
		object-fit: cover;
	}

.hero {
	/*margin-top: -4rem;*/
	/*margin-bottom: var(--gutter-width);*/

	font-size: 0;
}



/*--------------------------------------------------------------
social sharing menu
--------------------------------------------------------------*/

.sharing {
	/*margin-top: var(--gutter-width);*/
	margin-bottom: var(--gutter-width);
}

.sharing summary {
	/*display: inline-block;*/
	display: none;
}

.sharing a {
	display: inline-block;
	margin: 0 0.5rem;

	text-transform: lowercase;
}
	.sharing a:first-of-type {
		margin-left: 0;
	}
	.sharing a:last-child {
		margin-right: 0;
	}

/*--------------------------------------------------------------
hyperlink styles
--------------------------------------------------------------*/

a, a:visited {
	vertical-align: baseline;

	background: transparent;
	color: #00f; /* fallback */
	color: rgb(var(--hyperlink-color));
	text-decoration: underline;
	text-decoration-thickness: 0.5px;
	/*text-decoration-skip-ink: auto;*/

	-webkit-transition: color .3s;
	transition        : color .3s;

	outline: none;
}

a:active {
	text-decoration-style: wavy;
	text-decoration-skip-ink: none;
}

/*a:before, a:after {
	-webkit-transition: all 0.3s;
	transition        : all 0.3s;
}
*/
a:hover, a:focus, a:active {
	color: #f00; /* fallback */
	color: rgb(var(--accent-color));
}

nav a {
	text-decoration: none;
}

/*--------------------------------------------------------------
social menu
--------------------------------------------------------------*/

.social {
	margin: 0 auto;
	z-index: 104;

	text-align: center;

	-webkit-user-select: none !important;
	user-select : none !important;
}

.social a {
	display: inline-block;
	padding: 0.4em 0.25rem 0.25rem;

	background: none !important;
	text-decoration: none;
	text-shadow: none;
}

.social a:before {
	font-family: icons;
	font-size: 1.2rem;
}

.social a span {
	display: none;
}

.icon-email:before      { content: '📧'; }
.icon-gitlab:before     { content: '🦊'; }
.icon-github:before     { content: '🐙'; }
.icon-instagram:before  { content: '📷'; }
.icon-twitter:before    { content: '🐦'; }
.icon-facebook:before   { content: '👍'; }
.icon-mastodon:before   { content: '🐘'; }
.icon-webring:before    { content: '🕸'; }
.icon-soundcloud:before { content: '☁'; }
.icon-youtube:before    { content: '▶'; }

/*.icon-email:hover:before { color: #168de2; }*/ /* same color as links */
.icon-gitlab:hover     { color: #e24329; }
.icon-github:hover     { color: #2188ff; }
.icon-instagram:hover  { color: #e4405f; }
.icon-twitter:hover    { color: #1da1f2; }
.icon-facebook:hover   { color: #3b5998; }
.icon-mastodon:hover   { color: #3088d4; }
.icon-soundcloud:hover { color: #ff3300; }
.icon-youtube:hover    { color: #ff0000; }

/*--------------------------------------------------------------
languages selector
--------------------------------------------------------------*/
.languages {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 101;

	text-align: right;

	-webkit-user-select: none !important;
	user-select        : none !important;
}
	.languages ul {
		list-style: none;
	}

	.languages ul li {
		display: block;
		margin: 0;

		font-weight: bold;
		text-align: right;
		text-transform: uppercase;
	}

	.languages a {
		display: inline-block;
		min-width: var(--gutter-width);
		padding-right: 0.2rem;

		text-align: center;
		text-decoration: none;

		/*outline: 1px dashed red;*/
	}

	.languages .active {
		text-decoration: underline;
	}




/*--------------------------------------------------------------
ui controls
--------------------------------------------------------------*/

.ui {
	position: fixed;
	bottom: 0;
	right: 0;
	width: var(--gutter-width);
	z-index: 104;

	-webkit-user-select: none !important;
	user-select: none !important;
}

.ui > * {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: var(--gutter-width);

	text-align: center;
	text-decoration: none;

	/*outline: 1px dashed red;*/
}

.ui #theme-toggle {
	cursor: pointer;
}

/*--------------------------------------------------------------
link tooltip styles

Provide tooltips in the gutter for links (if they have a title)
and abbr tags
--------------------------------------------------------------*/


a[title*=' ']:hover,
ins[datetime]:hover,
del[datetime]:hover,
abbr[title*=' ']:hover,
span[title*=' ']:hover {
	text-decoration: underline;
	text-decoration-style: wavy;
	text-decoration-skip-ink: none;
	text-decoration-thickness: 0.5px;
}

a[title*=' ']:before,
ins[datetime]:before,
del[datetime]:before,
abbr[title*=' ']:before,
span[title*=' ']:before {
	--tooltip-mark: '↬';
	content: var(--tooltip-mark); 
	display: inline-block;
	position: absolute;
	right: calc(-1*var(--gutter-width));
	right: 0;
	width: var(--gutter-width);

	backdrop-filter: blur(var(--page-color-blur));
	color: rgba(var(--text-color),0.33);
	cursor: help;
	font-variant: initial;
	text-align: center;
	text-overflow: ellipsis;
	text-transform: initial;

	-webkit-transition: color 0.3s;
	transition        : color 0.3s;

	/*outline: 1px dashed red;*/
}

a[title*=' ']:hover:before,
ins[datetime]:hover:before,
del[datetime]:hover:before,
abbr[title*=' ']:hover:before,
span[title*=' ']:hover:before {
	content: attr(title);
	padding-right: var(--gutter-width);
	padding-left: 0.4rem;
	margin: 0 2px;
	width: auto;
	max-width: calc(var(--content-width)/1.61);
	z-index: 100;

	background-color: rgba(var(--page-color),var(--page-color-transparency));
	border: 1px solid;
	color: rgb(var(--text-color));
	text-align: left;

	outline: 1px solid rgb(var(--page-color));
}
	/* wikipedia links icon */
	a[title*=' '][href*='wikipedia.org']:before {
		--tooltip-mark: 'Ꮤ';
	}
	/* PDF links icon */
	a[title*=' '][href*='.pdf']:before {
		--tooltip-mark: '🗎';
	}
	/* abbr and other notes icon */
	abbr[title*=' ']:before,
	span[title*=' ']:before {
		--tooltip-mark: '*';
		/*--tooltip-mark: '※';*/
	}
	/* ins and del tags icon and content */
	ins[datetime]:before,
	del[datetime]:before {
		--tooltip-mark: '¤';
	}
	ins[datetime]:hover:before,
	del[datetime]:hover:before {
		content: attr(datetime);
	}

/* disable click on link tooltips */
a[title*=' ']:active:before {
	pointer-events: none;
}

@media only screen and ( min-width: 1200px ) {
	a[title*=' ']:hover:before,
	ins[datetime]:hover:before,
	del[datetime]:hover:before,
	abbr[title*=' ']:hover:before,
	span[title*=' ']:hover:before {
		width: calc((100vw - var(--content-width))/2 - var(--gutter-width));
	}
}

/*--------------------------------------------------------------
tags styles
--------------------------------------------------------------*/

.tag {
	display: inline-block;
	padding: 0.5em;
	margin: 0 0.4rem 0.4rem 0;

	background: rgb(var(--page-color));
	border: 1.5px solid rgb(var(--text-color));
	border-radius: 2px;
	color: rgb(var(--text-color));
	font-variant: small-caps;
	font-weight: bold;
	letter-spacing: 1px;
	line-height: 0.5;
	text-decoration: none;
	text-transform: uppercase;

	cursor: pointer;
	pointer-events: auto;
}

* > .tag:first-child {
	margin-left: 0;
}

.tag:hover,
.tag[data-active='true'] {
	background: rgb(var(--text-color));
	border-color: rgb(var(--text-color));
	color: rgb(var(--text-color-inverted));
}

.tag:hover:after {
	/*visibility: hidden;*/
}

.tag[data-active='false']:focus,
.tag:focus {
	text-decoration: underline;
}

.tag:-moz-focusring,
.tag:focus-active,
.tag:active {

}

.tag::-moz-focus-inner { border:0; }


/*--------------------------------------------------------------
article filter styles
--------------------------------------------------------------*/


#articles-filter {
	position: relative;
	padding-top: 0.4rem;
	z-index: 103;

	text-align: center;
	pointer-events: none;
}

#articles-filter .tag {
	
}

#articles-filter .tag:after {
	display: inline-block;
	content: '×';
	margin-left: 0.3em;

	text-decoration: none !important;

	text-align: center;
	vertical-align: top;

	transform: rotate(45deg);
	font-size: 80%;
}

#articles-filter .tag[data-active='true']:after {
	transform: rotate(0);
}

#articles-filter__reset {
	visibility: hidden;
}

[data-visibility='on'] {
	opacity: 1;
	z-index: 100;

	-webkit-transition: all 0.3s linear;
	transition        : all 0.3s linear;
}

[data-visibility='off'] {
	/*position: absolute;*/
	position: relative;
	height: 0 !important;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	opacity: 0.05 !important;
	/*z-index: 0;*/

	pointer-events: none !important;
	-webkit-user-select: none !important;
	user-select        : none !important;

	transform-origin: center center;

	-webkit-transition: all 0.3s linear;
	transition        : all 0.3s linear;
}

[data-visibility='off'] > * {
	height: 0 !important;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

[data-visibility='off'] img {
	opacity: 0;
}

/*add some placement randomness*/

[data-visibility='off']:nth-child(odd) {
	transform: scale(0.9);
}

[data-visibility='off']:nth-child(3n) {
	transform: scale(1.2);
}

[data-visibility='off']:nth-child(even) {
	transform: scale(1.1);
}

[data-visibility='off']:nth-child(4n) {
	transform: scale(0.8);
}



/*--------------------------------------------------------------
articles-list styles
--------------------------------------------------------------*/


.articles-list {
	position: relative;
	margin-bottom: var(--gutter-height);
	width: 100%;

	/*outline: 1px dashed cyan;*/
}

.articles-list > summary {
	margin-left: -1.1rem;
}

.articles-list[open] summary::marker {
	color: transparent;
}

.articles-list[open] summary::-webkit-details-marker { /* keep separate because Chome ignores it */
	color: transparent;
}

.articles-list > summary:focus {
	outline: none;
}

.articles-list > summary:focus h2 {
	text-decoration: underline;
}

.articles-list > summary h2 {
	display: inline-block;
	margin-bottom: var(--gutter-height);

	cursor: pointer;
}

.articles-list > .wrapper {
	text-align: center;
}

.articles-list article {
	max-width: var(--content-width);
	vertical-align: top;
	text-align: left;
	/*outline: 1px dashed red;*/
}

.articles-list article + article {
	margin-top: var(--gutter-height);
}

.articles-list article > a {
	display: block;
	text-decoration: none;
}

.articles-list article > a:hover h3,
.articles-list article > a:focus h3 {
	text-decoration: underline;
}

.articles-list article > a:hover .thumbnail img {
	transform: scale(1.05);
	/*outline: 1.5px solid rgb(var(--accent-color));*/
}

.articles-list article .thumbnail img {
	margin: 0;
	/*max-height: 100vh;*/

	font-size: 0;

	transition: transform .3s;
}

.articles-list article .thumbnail {
	overflow: hidden;
	/*outline: 1px dashed red;*/
}

.articles-list article .thumbnail:empty {
	display: none !important;
}

.articles-list article .thumbnail img {
	margin: 0;
	width: 100%;
}

.articles-list article .title {
	order: 1;
	display: inline-block;
	margin-right: 1ch;

	font-size: 1rem
	/*outline: 1px dashed red;*/
}

.articles-list article .time {
	order: 4;
	display: block;

	color: rgb(var(--text-color));
	font-size: 1rem;
	/*outline: 1px dashed red;*/
}

.articles-list article .summary {
	order: 2;
	display: inline;
	margin: 0;

	color: rgba(var(--text-color),0.8);
	/*outline: 1px dashed red;*/
}

.articles-list article .rating {
	order: 3;

	color: inherit;
}


.articles-list article .tags {
	/*display: none;*/
}

.articles-list article .tags .tag {
	border: none;
	font-size: 0.6em;
}


.articles-list article.preformatted {
	padding-left: calc(var(--gutter-width)/2);
	padding-right: calc(var(--gutter-width)/2);
	max-width: calc(100vw - 3*var(--gutter-width));

	overflow-x: auto;
	text-overflow: ellipsis;
}

.articles-list article.preformatted,
.articles-list article.preformatted pre {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	width: auto;

	text-align: center;
}

.articles-list article.preformatted pre {
	text-align: left;
}



/*--------------------------------------------------------------
articles oddities classes
--------------------------------------------------------------*/

article.draft:before {
	content: 'DRAFT';
	/*float: left;*/
	margin-right: 0.5em;

	border: 3px solid;
	border-right: none;
	border-left: none;
	color: rgb(var(--text-color-error));
	font-size: 60%;
	font-weight: bold;
}



/*--------------------------------------------------------------
articles cross-language display
--------------------------------------------------------------*/

.articles-list:lang(en) article:lang(el) a > *,
.articles-list:lang(el) article:lang(en) a > *
{
	opacity: 0.5;
	filter: blur(1px);

	transition: opacity 0.2s, transform 1s;
}
	.articles-list:lang(en) article:lang(el):hover a > *,
	.articles-list:lang(el) article:lang(en):hover a > *
	{
		opacity: 1 !important;
		filter: blur(0px);

		transition: opacity 0.3s, transform 1s;
	}



/*--------------------------------------------------------------
articles-list - side
--------------------------------------------------------------*/

.articles-list.side article a {
	display: grid;
	grid-template-columns: 40% 1fr;
	grid-column-gap: var(--gutter-width);
}

.articles-list.side article .thumbnail {
	grid-column: 1;
	grid-row: 1 / span 4;
}

.articles-list.side article .thumbnail img {
	height: 100%;
	object-fit: cover;
}

.articles-list.side article .time,
.articles-list.side article .title,
.articles-list.side article .summary {
	grid-column: 2;
}

.articles-list.side.alternate article:nth-child(2n) a {
	grid-template-columns: 60% 1fr;
}

.articles-list.side.alternate article:nth-child(2n) .thumbnail {
	grid-column: 2;
}

.articles-list.side.alternate article:nth-child(2n) .time,
.articles-list.side.alternate article:nth-child(2n) .title,
.articles-list.side.alternate article:nth-child(2n) .summary {
	grid-column: 1;
}



/*--------------------------------------------------------------
articles-list - stack
--------------------------------------------------------------*/

.articles-list.stack > .wrapper {
	/* */
}

.articles-list.stack article + article {
	margin-top: var(--line-height);
}

.articles-list.stack article a {
	display: flex;
}

.articles-list.stack article a > * {
	vertical-align: middle;
}

.articles-list.stack .thumbnail {
	display: none;
}

.articles-list.stack .time {
	display: inline-block;
	flex-shrink: 0;
	margin-left: 1ch;
	order: 4;
	width: 9ch;
	/*outline: 1px dashed red;*/
}

.articles-list.stack .title {
	order: 1;
}

.articles-list.stack .summary {
	display: inline-block;
	order: 2;
	flex-grow: 1;
	overflow: hidden;

	text-overflow: ellipsis;
	white-space: nowrap;
}



/*--------------------------------------------------------------
articles-list - cluster
--------------------------------------------------------------*/

.articles-list.cluster {
	/*padding: calc(var(--gutter-width)/2);*/
}
.articles-list.cluster > .wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin: calc(-1*var(--gutter-width)/2);
}

.articles-list.cluster article {
	display: inline-block;
	flex-basis: calc((var(--content-width)/2 - var(--gutter-width)));
	flex-grow: 1;
	margin: calc(var(--gutter-width)/2);
}

.articles-list.cluster article:nth-last-child(1):nth-child(odd) {
	/*flex-grow: 0;*/
	/*outline: 2px solid red;*/
}



/*--------------------------------------------------------------
articles-list - no-summary
--------------------------------------------------------------*/
.articles-list.no-summary > summary {
	display: none;
}


/*--------------------------------------------------------------
articles-list - no-gap
--------------------------------------------------------------*/
.articles-list.no-gap {
	--gutter-width: 0px;
}


/*--------------------------------------------------------------
articles-list - no-text
--------------------------------------------------------------*/

.articles-list.no-text article .time,
.articles-list.no-text article .title,
.articles-list.no-text article .summary {
	display: none;
}

.articles-list.no-text article .thumbnail{
	display: block;
}



/*--------------------------------------------------------------
articles-list - no-time
--------------------------------------------------------------*/
.articles-list.no-time article .time {
	display: none;
}



/*--------------------------------------------------------------
articles-list - no-thumbnail
--------------------------------------------------------------*/
@supports (pointer-events: none) {
	.articles-list.no-thumbnail article .thumbnail {
		display: block;
		position: fixed;
		top: -0.5vh;
		left: -0.5vw;
		margin: 0;
		z-index: 103;

		pointer-events: none;
		transition: transform 1s;
	}

	.articles-list.no-thumbnail article .thumbnail img {
		width: 101vw;
		height: 101vh;

		object-fit: cover;

		filter: blur(3px);
		opacity: 0;

		transform: translateZ(0); /* force GPU rendering */

		transition: all 1s;
	}
		.articles-list.no-thumbnail article:hover .thumbnail img {
			opacity: 0.2;
		}
}



/*--------------------------------------------------------------
articles-list - thumb ratio
--------------------------------------------------------------*/
.articles-list[class*="thumbnail-"] article .thumbnail {
	position: relative;
	overflow: hidden;
	/*outline: 1px solid red;*/
}

.articles-list[class*="thumbnail-"] article .thumbnail img {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	height: 100%;
	object-fit: cover;
}

.articles-list.thumbnail-4\:3 article .thumbnail {
	padding-top: 75%;
}

.articles-list.thumbnail-3\:4 article .thumbnail {
	padding-top: 133%;
}

.articles-list.thumbnail-16\:9 article .thumbnail {
	padding-top: 56%;
}

.articles-list.thumbnail-9\:16 article .thumbnail {
	padding-top: 178%;
}

.articles-list.thumbnail-1\:1 article .thumbnail {
	padding-top: 100%;
}

.articles-list.thumbnail-circle article .thumbnail {
	padding-top: 100%;
	border-radius: 50%;
}




/*--------------------------------------------------------------
single article meta styles
--------------------------------------------------------------*/

.h-entry .title {
	padding-top: var(--gutter-height);
}

.h-entry .title,
.h-entry .summary {
	margin-bottom: var(--gutter-height);
}


.meta {
	display: flex;
	flex-wrap: wrap;

	border: 1.5px dashed;
}

.meta > * {
	flex-basis: calc((100% - 2*var(--gutter-width))/2);
	flex-grow: 1;
	margin: calc(var(--gutter-width)/2);
	/*outline: 1px dashed red;*/
}

.meta h2 {
	font-variant: small-caps;
	text-transform: uppercase;
}
.meta dl {
	display: grid;
	/*grid-gap: var(--gutter-width);*/
	grid-template-columns: minmax(34%, max-content) 1fr;
}

.meta dt {
	grid-column: 1;
	margin-right: 0.5rem;

	font-variant: small-caps;
	text-transform: uppercase;
}
	.meta dt:after {
		content: ':';
	}

.meta dd {
	grid-column: 2;
}

.meta dd.tags {
	grid-column: 1 / span 2;
}

#TableOfContents ul {
	padding: 0;
	/*counter-reset: item;*/
}

#TableOfContents ul li:blank {
	background: red;
}

#TableOfContents ul ul {
	counter-reset: item;
}

#TableOfContents li:before {
	position: relative;
	margin: 0;
}

#TableOfContents ul ul:not(:first-child) {
	/*counter-reset: item;*/
	padding-top: 0.4rem;
}

#TableOfContents ul > li:before {
	/*margin-left: -0.7rem;*/
	padding-right: 0.1rem;
	content: counters(item, '.') '. ';
	counter-increment: item;
}

#TableOfContents > ul > li:first-child:before {
	content: '';
	margin: 0;
	padding: 0;
}


/*--------------------------------------------------------------
sidenote styles
--------------------------------------------------------------*/

.sidenote:before,
.entry-content aside:before {
	content: '⊕';
	display: block;
	position: absolute;
	right: 0;
	width: var(--gutter-width);
	overflow: visible;

	color: rgba(var(--text-color),0.33);
	cursor: n-resize;
	line-height: 1.2rem;
	text-align: center;

	transition: all .3s;

	/*outline: 1px dashed red;*/
}
	.sidenote:hover:before,
	.entry-content aside:hover:before {
		color: rgba(var(--text-color),1);
	}

.sidenote,
.entry-content aside {
	margin: var(--gutter-height) 0;
	padding: calc(var(--gutter-width)/2);
	max-height: calc(2.1*var(--line-height));
	overflow: hidden;

	background-clip: border-box;
	border: 1.5px dashed;
	border-right: none;
	border-left: none;
	text-overflow: ellipsis;
	transition: max-height 1s 1s;

	/*-webkit-mask-image: -webkit-linear-gradient(top, rgba(0,0,0,1) 1rem, rgba(0,0,0,0) 90%);*/
}

.sidenote:hover,
.entry-content aside:hover {
	max-height: 100vh;
	z-index: 101;
	transition-delay: 0s;

	/*-webkit-mask-image: none;*/
}

/*.sidenote:after,
.entry-content aside:after {
	content: attr(title);
	outline: 2px dashed red;
}*/


@media only screen and ( min-width: 1200px ) {
	.sidenote,
	.entry-content aside {
		position: absolute;
		float: left;
		margin: 0 0 0 calc(-1*var(--gutter-width));
		padding: 0;
		max-width: calc(var(--content-width)/1.61);
		width: calc((100vw - var(--content-width))/2 - 2*var(--gutter-width));
		max-height: 100%;
		transform: translate(-100%, 0);

		border: none;

		-webkit-mask-image: none;
	}
	.sidenote:before,
	.entry-content aside:before {
		display: none;
	}
}

/*--------------------------------------------------------------
footnotes
--------------------------------------------------------------*/

.footnote-ref, .footnote-backref {
	display: inline-block;
	color: inherit;
	text-decoration: none;
}

.footnote-backref {
	margin-left: 0.5em;
}


.footnote-ref + .footnote-ref::before {
	/*content: ', ';*/
}

.footnotes ol {
	padding: var(--gutter-width) 0;
	list-style-position: inside;
	/*outline: 1px solid green;*/
}

.footnotes li p {
	display: inline;
}

.footnotes li[id^="fn:"]:target {
	position: fixed;
	bottom: 0;
	padding: var(--gutter-width) 0;
	margin-left: calc(-1*var(--page-color-blur)/2);
	width: calc(100% - 2*var(--gutter-width) + var(--page-color-blur));
	max-width: calc(var(--content-width) + var(--page-color-blur));
	z-index: 100;

	background-color: rgba(var(--page-color),var(--page-color-transparency));
	/*backdrop-filter: blur(var(--page-color-blur));*/

	animation: slidey .3s;
}

.footnotes li[id^="fn:"]:target .footnote-backref {
	visibility: hidden;
}
	.footnotes li[id^="fn:"]:target .footnote-backref:after {
		content: '×';
		visibility: visible;
		position: absolute;
		top: -0.1rem;
		right: 0.5rem;
		font-size: 1.2rem;
	}

sup[id^="fnref:"] a {
	padding-right: 0.3rem;
}

/**:target:after,*/
sup[id^="fnref:"]:target:after {
	content: '←';
	/*content: '☞';*/
	position: absolute;
	right: 0;
	width: var(--gutter-width);

	font-size: 1rem;
	text-align: center;

	animation: slidex .3s;
}

@keyframes slidey {
	from { transform: translate(0, 100%); }
	to   { transform: translate(0, 0); }
}

@keyframes slidex {
	from { transform: translate(-100%, 0); }
	to   { transform: translate(0, 0); }
}




/*--------------------------------------------------------------
embeds
--------------------------------------------------------------*/

.video {
	position: relative;
	padding-bottom: 56.25%;
	margin-bottom: var(--gutter-height);
	height: 0;
	overflow: hidden;
}

.video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	border:0;
}

/*--------------------------------------------------------------
gallery
--------------------------------------------------------------*/

.gallery {
	position: relative;
	height: 50vh;
	margin: 6rem 3rem;

	counter-reset: items;
}

.gallery:after {
	content: attr(data-current) ' / ' counter(items);

	position:absolute;
	bottom: 0;
	right: 0;

	font-size: 60%;
}

.gallery figure {
	position: absolute;
	top: 0;
	left: 0;

	counter-increment: items;

	transition: transform .3s;
	/*transition: transform .3s, z-index 1s step-end;*/
}

.gallery figure:hover {
	/*z-index: 1000 !important;*/


	/*animation: tofront 0.3s linear forwards;*/
	/*transition: transform .3s, z-index 1s step-start;*/
}
	@keyframes tofront {
		from { opacity: 0.8; }
		to   { opacity: 1; }
	}

.gallery figure:first-child {
	z-index: 1; /* make the first image display first */
}

.gallery figcaption {
	visibility: hidden;
	margin-top: 1.5rem;
}

.gallery.no-caption figcaption {
	display: none;
}

.gallery .top figcaption {
	visibility: visible;
}

.gallery img {
	max-height: 50vh;
	margin: 0 auto;

	cursor: pointer;	
	mix-blend-mode: normal;

	
	/*box-shadow: 0.3rem 0.3rem 0.5rem -0.1rem rgba(0,0,0,.5);*/
	box-shadow: 0 4px 8px rgba(var(--text-color),0.07),
				0 8px 16px rgba(var(--text-color),0.07),
				0 16px 32px rgba(var(--text-color),0.07),
				0 32px 64px rgba(var(--text-color),0.07);
	outline: 1px solid rgba(var(--text-color),0.1);

	transform-origin: center;
	transition: transform .3s 1s;

	outline: 1px solid rgba(var(--text-color),0.1);
}

.gallery img:hover {
	transform: scale(1.2);
	transition-delay: 0s;
}

.gallery .top img {
	/*border: 1.5px solid rgba(var(--text-color),1);*/
	box-shadow: 0 4px 12px 4px rgba(var(--text-color),0.5);
	cursor: e-resize;

	transform: scale(1.2);
	transition-delay: 0s;
}



/*
DEBUG STYLES
testing baseline
*/

/*:root {
	--baseline: var(--line-height);
	--baseline-offset: 0px;
	--color: hsla(204, 80%, 72%, 0.25);
}

:root {
	--background-baseline: repeating-linear-gradient(
		to bottom,
		var(--color),
		var(--color) 1px,
		transparent 1px,
		transparent var(--baseline)
	);
}

html::before {
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	max-width: var(--max_width);
	min-height: 100vh;
	height: 100%;
	content: '';
	background-image: var(--background-baseline);
	background-size: 100%;
	background-position: 0 var(--baseline-offset);
	z-index: 1000;
	pointer-events: none;
}*/