@charset "utf-8";
/*--------------------------------------------------------------
onionskin theme
made by: Heacles Papatheodorou
url: https://heracl.es/onionskin
--------------------------------------------------------------*/

/*--------------------------------------------------------------
syntax highlighting: algol_nu
via https://xyproto.github.io/splash/docs/longer/all.html
--------------------------------------------------------------*/
@import "./syntax.css";
.highlight { background: none; }

/*--------------------------------------------------------------
global CSS variables
--------------------------------------------------------------*/
:root {
	/* font stacks */
	--font-mono: "'Fantasque', 'Segoe UI', 'Ubuntu Mono', 'Consolas', monospace";
	--font-copy: "'Alegreya', 'Gentium', 'Georgia', serif";
	--font-interface: '';

	/* layout */
	--content-width: 60ch;
	--sidenote-width: 16rem;
	--header-height: 3rem;
	--gutter-width: 1.5rem;
	--gutter-height: 3.9rem; /* 2.8rem */
	--scrollbar-width: 2vw;

	/*
		- themes to be compatble with https://github.com/hundredrabbits/Themes
		- will need probably need a way to convert hex to RGB / HSL
		- check how color fallbacks can work with css variables


		The Theme format holds only 9 different colors.

			background, Application Background.
			f_high, Foreground, high-contrast.
			f_med, Foreground, medium-contrast.
			f_low, Foreground, low-contrast.
			f_inv, Foreground, inverted.
			b_high, Background, high-contrast.
			b_med, Background, medium-contrast.
			b_low, Background, low-contrast.
			b_inv, Background, inverted.

	*/
	

	/* color theme */
	--page-color-transparency: 0.8;
	--page-color: 221, 238, 255;
	--text-color: 34, 34, 50;
	--hyperlink-color: 34, 34, 50;
	--accent-color: 0, 0, 255;
	--text-color-inverted: 255, 255, 255;

	/* auto-calculated colors */
	--shadow-color: rgba(var(--text-color),0.2);

	/* misc colors */
	--text-color-error: 255, 0, 0;


	/* text scales */

	--ratio: 1.5;
	--s-5: calc(var(--s-4) / var(--ratio));
	--s-4: calc(var(--s-3) / var(--ratio));
	--s-3: calc(var(--s-2) / var(--ratio));
	--s-2: calc(var(--s-1) / var(--ratio));
	--s-1: calc(var(--s0) / var(--ratio));
	--s0: 1rem;
	--s1: calc(var(--s0) * var(--ratio));
	--s2: calc(var(--s1) * var(--ratio));
	--s3: calc(var(--s2) * var(--ratio));
	--s4: calc(var(--s3) * var(--ratio));
	--s5: calc(var(--s4) * var(--ratio));
}


/*--------------------------------------------------------------
themes
--------------------------------------------------------------*/

body.light {
	--page-color: 221, 238, 255;
	--text-color: 34, 34, 50;
	--hyperlink-color: 34, 34, 50;
	--accent-color: 0, 0, 255;
	--text-color-inverted: 255, 255, 255;
	--shadow-color: rgba(var(--text-color),0.2);
}

body.dark {
	--page-color: 34, 34, 34;
	--text-color: 204, 204, 204;
	--hyperlink-color: 204, 204, 204;
	--accent-color: 205, 35, 185;
	--text-color-inverted: 20, 20, 20;
	--shadow-color: rgba(var(--text-color),0.2);
}

body.black {
	--page-color: 0, 0, 0;
	--text-color: 250, 250, 250;
	--hyperlink-color: 250, 250, 250;
	--accent-color: 205, 35, 185;
	--text-color-inverted: 20, 20, 20;
	--shadow-color: rgba(var(--text-color),0.2);
}

body.white {
	--page-color: 255, 255, 255;
	--text-color: 34, 34, 34;
	--hyperlink-color: 34, 34, 34;
	--accent-color: 0, 0, 255;
	--text-color-inverted: 200, 200, 200;
	--shadow-color: rgba(var(--text-color),0.2);
}

body.gray, body.grey {
	--page-color: 204, 204, 204;
	--text-color: 0, 0, 0;
	--hyperlink-color: 0, 0, 0;
	--accent-color: 0, 0, 255;
	--text-color-inverted: 200, 200, 200;
	--shadow-color: rgba(var(--text-color),0.2);
}

body.peach {
	--page-color: 255, 204, 238;
	--text-color: 0, 0, 0;
	--hyperlink-color: 0, 0, 0;
	--accent-color: 0, 0, 255;
	--text-color-inverted: 255, 255, 255;
}

body.gold {
	--page-color: 43, 0, 0;
	--text-color: 189, 159, 92;
	--hyperlink-color: 189, 159, 92;
	--accent-color: 189, 30, 46;
	--text-color-inverted: 0, 0, 0;
	--shadow-color: rgba(var(--text-color),0.2);
}

body.blue {
	--page-color: 0, 0, 255;
	--text-color: 255, 255, 255;
	--hyperlink-color: 255, 255, 255;
	--accent-color: 255, 0, 0;
	--text-color-inverted: 0, 0, 255;
	--shadow-color: rgba(var(--text-color),0.2);
}

@media (prefers-color-scheme: dark) {
	:root {
		--page-color: 34, 34, 34;
		--text-color: 204, 204, 204;
		--hyperlink-color: 204, 204, 204;
		--accent-color: 205, 35, 185;
		--text-color-inverted: 20, 20, 20;
		--shadow-color: rgba(var(--text-color),0.2);
	}
}



/*--------------------------------------------------------------
theme styles
--------------------------------------------------------------*/

::selection {
	background: rgb(var(--text-color));
	color: rgb(var(--text-color-inverted));
	text-shadow: none;
}

body {
	background: #fff; /* fallback */
	background: rgb(var(--page-color));
	color: #000; /* fallback */
	color: rgb(var(--text-color));

	/* transition messes with custom styles */
	/*-webkit-transition: background 0.3s;*/
	/*transition        : background 0.3s;*/
}

body > header a,
h1 a, h2 a {
	color: rgb(var(--text-color));
	text-decoration: none;
}



/*--------------------------------------------------------------
fonts & type

Alegrya: via https://www.huertatipografica.com/en/fonts/alegreya-ht-pro
Lekton (Greek): via https://www.roleplay.gr/blog/greekifying-lekton-font
FantasqueSan: via https://github.com/belluzj/fantasque-sans;
icon font via https://icomoon.io (Brands iconset)
--------------------------------------------------------------*/

@font-face {
	font-family: 'Alegreya';
	src: url('../fonts/Alegreya-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Alegreya';
	src: url('../fonts/Alegreya-Italic.woff2') format('woff2');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Alegreya';
	src: url('../fonts/Alegreya-Bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Fantasque';
	src: url('../fonts/FantasqueSansMono-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Fantasque';
	src: url('../fonts/FantasqueSansMono-Bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'icons';
	src: url('../fonts/icons.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

html,
pre, input, textarea {
	/*font-family: var(--font-copy);*/
	font-family: 'Alegreya', 'Gentium', 'Georgia', serif;
}

button, code, kbd,
.tag, .languages, .sharing,
.articles-list h2, .social {
	/*font-family: var(--font-mono);*/
	font-family: 'Fantasque', 'Segoe UI', 'Ubuntu Mono', 'Consolas', monospace;
	font-size: 0.9rem; /* adjust for x-height */
}

:root {
	font-size: 125%; /* fallback */
	font-size: calc(1rem + 0.5vw);
}

body {
	font-size: 1rem;
	line-height: 1.4rem;
	
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body * {
	line-height: inherit;
}


body > header h1 {
	font-size: 1rem;
}

.tag, .button,
figcaption,
.entry-content blockquote {
	font-size: 0.8rem;
}

body > header .description,
body > footer {
	font-size: 0.8rem;
}

aside.meta,
.entry-content .sidenote,
.footnotes {
	font-size: 0.8rem;
}

/*--------------------------------------------------------------
reset styles
--------------------------------------------------------------*/

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

* {
	margin: 0;
	padding: 0;
}

body {
	line-height: 1.5;
}

body * {
	line-height: inherit;
}


img {
	max-width: 100%;
	height: auto;

	-webkit-user-select: none !important;
	-moz-user-select: none !important;
}

figure {
	page-break-inside: avoid;
	break-inside: avoid;
}

figure img {
	display: block;
	margin: 0 auto;
}

figcaption {
	text-align: center;
}

ul {
	list-style: none;
}

li ul, li ol {
	margin: 0;
}

article, aside, figure, figcaption, 
footer, header, main, nav, section {
	display: block;
}

body {
	font-kerning: normal;
	font-variant: common-ligatures oldstyle-nums proportional-nums;
	font-feature-settings: "kern", "liga", "clig", "onum", "pnum";
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0;

	font-variant: common-ligatures lining-nums proportional-nums;
	font-feature-settings: "kern", "liga", "clig", "lnum", "pnum";
	font-weight: normal;
}

code {
	font-variant: no-common-ligatures lining-nums;
	font-feature-settings: "kern" 0, "liga" 0, "clig" 0, "lnum";
}

table {
	font-variant-numeric: lining-nums tabular-nums;
	font-feature-settings: "kern", "lnum", "tnum";
}

hr {
	margin: var(--gutter-height) 0;
	overflow: hidden;

	border: 0;
}
	hr:before {
		content: '* * *'; /* ⁂ ✻ 〜 */
		display: block;
		height: 2.1rem;

		color: rgba(var(--text-color),1);
		font-size: 2.1rem;
		line-height: 2rem;
		text-align: center;
	}

p, li {
	font-variant-ligatures: normal;

	-webkit-hyphens	: auto;
	hyphens			: auto;	
	white-space: normal;
	/*text-align: justify;*/
}

pre {
	margin: var(--gutter-height) 0;
	padding: 0;
	overflow: hidden;

	white-space: pre;
}


code {
	display: inline-block;
	padding: 0.2em 0.25em 0.15em 0.25em;

	background: var(--shadow-color);
	border-radius: 1.5px;
	line-height: 1.1;
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-all;
	word-break: break-word;
}

pre > code {
	display: block;
	position: relative;
	margin: 0;
	padding: 1.4rem 0.7rem;
	width: 100%;
	overflow: hidden;

	text-overflow: ellipsis;
}
	pre > code:hover {
		overflow-x: auto;
		text-overflow: initial;
	}
	pre > code:before {
		content: attr(data-lang);
		position: absolute;
		top: 0.4rem;
		left: 0.7rem;

		color: rgb(var(--page-color));
		font-size: 85%;
	}

mark {
	background: rgba(var(--accent-color),0.1);
	color: rgb(var(--text-color));
}
	mark:hover {
		background: rgba(var(--accent-color),1);
		color: rgb(var(--text-color-inverted));
	}
	mark:before, mark:after {
		content: '\00A0';
	}

abbr {
	position: relative;

	font-variant: small-caps;
	text-decoration: none;
	text-transform: lowercase;
}
	abbr:after {
		font-size: 70%;
		line-height: 1.3;

		font-variant: initial;
		text-transform: initial;
	}
	abbr[title*=' '] {
		cursor: help;
	}
	abbr[title*=' ']:after {
		content: '*';
		position: absolute;
		top: -0.2em;
	}
	@media (pointer: coarse) {
		abbr[title*=' ']:hover:after {
			content: attr(title);
			display: inline-block;
			position: absolute;
			top: 2em;
			left: 0;
			padding: 0.3em 0.5em;

			background: rgba(var(--page-color),var(--page-color-transparency));
			border: 1px solid;
		}
	}

kbd {
	display: inline-block;
	padding: 0.2em;
	min-width: 1.5em;
	min-height: 1.5em;
	
	border: 1px solid;
	border-radius: 3px;
	line-height: 1;
	text-align: center;

	-webkit-box-shadow: 2px 2px 0px 0px var(--shadow-color);
	box-shadow:         2px 2px 0px 0px var(--shadow-color);
}

sub {
	font-size: 0.675em;
	line-height: 1.2;
	vertical-align: sub;
	vertical-align: -20%;
}

sup {
	font-size: 0.675em;
	line-height: 1.2;
	vertical-align: super;
	vertical-align: 35%;
}

/*--------------------------------------------------------------
helper / common classes
--------------------------------------------------------------*/

.center {
	display: block;
	margin: 0 auto;
	text-align: center;
}

.half {
	width: calc(50% - var(--gutter-width)/2);
}

.hidden, .secret {
	display: none;
}

svg.stroke {
	stroke: rgb(var(--text-color));
}

svg.fill {
	fill: rgb(var(--text-color));
}

/*--------------------------------------------------------------
table styles
--------------------------------------------------------------*/

table {
	margin: var(--gutter-height) 0.7rem;
	width: calc(100% - 2*0.7rem);
	
	border-top:    1.5px solid rgb(var(--text-color));
	border-bottom: 1.5px solid rgb(var(--text-color));
	border-spacing: 0.25rem;
	font-variant: tabular-nums;
	text-align: left;
}

table caption {
	padding-right: var(--gutter-width);

	caption-side: bottom;
	text-align: right;
}

th, td {
	padding: 0.25rem;

	-webkit-transition: all 0.3s;
	transition        : all 0.3s;
}

th {
	border-bottom: 0.5px solid rgb(var(--text-color));
}

th:empty {
	display: none;
}

tr td {
	border-bottom: 1.5px solid transparent;
}

tr:hover td {
	border-color: rgb(var(--accent-color));
}

/*--------------------------------------------------------------
structural styles
--------------------------------------------------------------*/

html {
	/*text-align: center;*/
}

body {
	position: relative;
	padding: 12px; /* fallback */
	padding: var(--gutter-width);

	/*overflow-x: hidden;*/
/*	display: grid;
	grid-template-columns: 
	  [full-start] minmax(var(--gutter-width), 1fr) 
	  [main-start] minmax(0, var(--content-width)) [main-end]
	  minmax(var(--gutter-width), 1fr) [full-end];*/

	/* outline: 1px dashed red; /* DEBUG */
}

body > header,
body > footer,
body > main > * /*,
body > main > *,
body > main > article > *,
body > main > article .entry-content > **/ {
	margin-left: auto;
	margin-right: auto;
	max-width: 40em; /* fallback */
	max-width: var(--content-width);
	/*grid-column: main;*/
	/*outline: 1px dashed red; /* DEBUG */
}

body > main {
	position: relative;
	/*outline: 1px dashed yellow;*/
}

/*body > main,
body > main > article,
body > main > article .entry-content {
	display: contents;
}*/

/*aside.meta,
.entry-content .sidenote {
	grid-column-start: full-start;
	grid-column-end: main-start;

	outline: 2px solid red;
}*/



.sticky {
	position: sticky !important;
}

.opaque {
	--page-color-transparency: 1;
}

.panel {
	display: flex;
	position: relative;
	top: 0;
	flex-direction: column;
	min-height: 100vh;
	max-width: calc(100vw - var(--scrollbar-width));
	width: calc(100vw - var(--scrollbar-width));

	margin-left: calc(50% - 50vw + var(--scrollbar-width)/2) !important;
	margin-right: calc(50% - 50vw + var(--scrollbar-width)/2) !important;



	align-items: center;
	background: rgba(var(--page-color), var(--page-color-transparency));
	justify-content: center;
	white-space: nowrap;
}
	.panel:first-child {
		/*min-height: calc(100vh - var(--header-height));*/
		/*outline: 1px solid red;*/
	}

.panel:before {
	display: block;
	content: '';
	position: absolute;
	left: 0;
	height: calc(2*var(--header-height));
	width: 100%;

	white-space: nowrap;
	pointer-events: none;
}
	.panel:before {
		top: calc(-2*var(--header-height));
		
		background: -webkit-linear-gradient(bottom, rgba(var(--page-color),var(--page-color-transparency)) 0, rgba(255,0,0,0) 100%);
	}
	.panel:first-child:before {
		display: none;
	}

.panel > * {
	box-sizing: content-box;

	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-left: var(--gutter-width);
	padding-right: var(--gutter-width);
	max-width: var(--content-width);
}

/*.panel:nth-last-of-type(1):after {
	position: absolute;
	bottom: -100vh;
	display: block;
	content: '';
	height: 100vh;
	width: 100%;

	background: red;

	white-space: nowrap;
	pointer-events: none;
}*/

.fullwidth,
.hero {
	display: block;
	max-width: calc(100vw - var(--scrollbar-width));
	width: calc(100vw - var(--scrollbar-width));

	margin-left: calc(50% - 50vw + var(--scrollbar-width)/2) !important;
	margin-right: calc(50% - 50vw + var(--scrollbar-width)/2) !important;

	font-size: 0;
	text-align: center;
	/*grid-column: full;*/
}

.hero {
	/*margin-top: -4rem;*/
	margin-bottom: var(--gutter-width);
}
.hero img {
		width: 100%;
		height: 100vh;
		object-fit: cover;
	}
/*	@media (orientation: portrait) {
		.hero img {
			height: 100vh;
		}
	}*/

body > header {
	margin-bottom: var(--gutter-width);
	height: var(--header-height);
	z-index: 103;
	opacity: 0.999; /* z-index quickfix */
}

body > header .description {
	display: block;
}

main {
	margin-bottom: 60vh;
}

body > footer {
	/*position: fixed;*/
	/*bottom: 0;*/
	clear: both;
	/*margin-top: 100vh;*/
	margin-bottom: var(--gutter-width);
	min-width: 100%;
	z-index: -1;

	text-align: center;
}


body > footer nav ul,
.sharing ul {
	margin: 0;
	padding: 0;
}

.sharing ul {
	margin-top: var(--gutter-width);
	margin-bottom: var(--gutter-width);
}

body > footer nav ul {
	margin: 0;
	padding: 0;
	text-align: center;
}

body > footer nav li,
.sharing li {
	display: inline-block;
	margin: 0 0.5rem;
}
	body > footer nav li:first-child,
	.sharing li:first-child {
		margin-left: 0;
	}
	body > footer nav li:last-child,
	.sharing li:last-child {
		margin-right: 0;
	}

/*--------------------------------------------------------------
hyperlink styles
--------------------------------------------------------------*/

a, a:visited {
	vertical-align: baseline;

	background: transparent;
	color: #00f; /* fallback */
	color: rgb(var(--hyperlink-color));
	/*text-decoration: underline;*/
	/*text-decoration-skip-ink: auto;*/

	-webkit-transition: all .3s;
	transition        : all .3s;

	outline: none;
}

a:before, a:after {
	-webkit-transition: all 0.3s;
	transition        : all 0.3s;
}

a:hover, a:focus, a:active {
	color: #f00; /* fallback */
	color: rgb(var(--accent-color));
}

a[href^='#fn'],
a[id^='mark-'],
a[id^='ref-'] {
	background: none !important;
	color: inherit;
	text-decoration: none;
}


/*--------------------------------------------------------------
cross-language display
--------------------------------------------------------------*/

html:lang(en) article:lang(el),
html:lang(el) article:lang(en) {
	background: none;
	opacity: 0.5;
	/*blur changing stacking order*/
	/*-webkit-filter: blur(1px);*/
	/*filter: blur(1px);*/
	/*mix-blend-mode: multiply;*/
	transition: opacity 0.2s;
}
	html:lang(en) article:lang(el):hover,
	html:lang(el) article:lang(en):hover {
		opacity: 1 !important;
		/*-webkit-filter: none;*/
		/*filter: blur(0px);*/
		mix-blend-mode: normal;
		transition: opacity 0.3s;
	}

/*--------------------------------------------------------------
social menu
--------------------------------------------------------------*/

.social {
	margin: 0 auto;
	z-index: 104;

	text-align: center;

	-webkit-user-select: none !important;
	user-select        : none !important;
}

.social ul {
	margin: 0;
	padding: 0;
}

.social li {
	display: inline-block;
	margin: 0 0.7rem;
}

.social a {
	display: inline-block;
	padding: 0.4em 0.25rem 0.25rem;

	background: none !important;
	text-decoration: none;
	text-shadow: none;
}

.social a:before {
	font-family: icons;
	font-size: 1.2rem;
}

.social a span {
	display: none;
}

.icon-email:before { content: '📧'; }
.icon-gitlab:before { content: '🦊'; }
.icon-github:before { content: '🐙'; }
.icon-instagram:before { content: '📷'; }
.icon-twitter:before { content: '🐦'; }
.icon-facebook:before { content: '👍'; }
.icon-mastodon:before { content: '🐘'; }
.icon-webring:before { content: '🕸'; }
.icon-soundcloud:before { content: '☁'; }
.icon-youtube:before { content: '▶'; }

/*.icon-email:hover:before { color: #168de2; }*/ /* same color as links */
.icon-gitlab:hover:before { color: #e24329; }
.icon-github:hover:before { color: #2188ff; }
.icon-instagram:hover:before { color: #e4405f; }
.icon-twitter:hover:before { color: #1da1f2; }
.icon-facebook:hover:before { color: #3b5998; }
.icon-mastodon:hover:before { color: #3088d4; }
.icon-soundcloud:hover:before { color: #ff3300; }
.icon-youtube:hover:before { color: #ff0000; }

/*--------------------------------------------------------------
languages selector
--------------------------------------------------------------*/
.languages {
	position: fixed;
	top: var(--gutter-width);
	right: 0;
	width: var(--gutter-width);
	z-index: 104;

	-webkit-user-select: none !important;
	user-select        : none !important;

	/*outline: 1px dashed red;*/
}
	.languages ul {
		list-style: none;
	}

	.languages ul li {
		display: block;

		font-weight: bold;
		text-transform: uppercase;
		text-align: center;
	}

	.languages a {
		display: inline-block;
		text-decoration: none;
	}

	.languages .active {
		text-decoration: underline;
	}




/*--------------------------------------------------------------
ui controls
--------------------------------------------------------------*/

.ui {
	position: fixed;
	bottom: var(--gutter-width);
	right: 0;
	width: var(--gutter-width);
	z-index: 104;

	/*outline: 1px solid red;*/
}

.ui > * {
	display: block;
	margin-left: auto;
	margin-right: auto;

	text-align: center;
	text-decoration: none;
}

.ui #theme-toggle {
	background: none;
	border: none;
	color: rgb(var(--text-color));
	-webkit-appearance: button; /* iOS and Safari fix */
	cursor: pointer;
}


/*--------------------------------------------------------------
tags styles
--------------------------------------------------------------*/

.tag {
	display: inline-block;
	padding: 0.5rem;
	margin: 0.4rem 0.2rem 0;

	background: rgb(var(--page-color));
	border: 1.5px solid rgb(var(--text-color));
	border-radius: 2px;
	color: rgb(var(--text-color));
	font-variant: small-caps;
	font-weight: bold;
	letter-spacing: 1px;
	line-height: 0.5;
	text-decoration: none;
	text-transform: uppercase;

	cursor: pointer;
	pointer-events: auto;
}

* > .tag:first-child {
	margin-left: 0;
}

.tag:hover,
.tag[data-active='true'] {
	background: rgb(var(--text-color));
	border-color: rgb(var(--text-color));
	color: rgb(var(--text-color-inverted));
}

.tag:hover:after {
	/*visibility: hidden;*/
}

.tag[data-active='false']:focus,
.tag:focus {
	text-decoration: underline;
}

.tag:after {
	display: inline-block;
	margin-left: 0.25em;
	height: 0.25rem;

	text-decoration: none !important;
	vertical-align: 20%;
}

.tag:-moz-focusring,
.tag:focus-active,
.tag:active {

}

.tag::-moz-focus-inner { border:0; }


/*--------------------------------------------------------------
article filter styles
--------------------------------------------------------------*/


#articles-filter {
	position: relative;
	top: 0;
	z-index: 102;

	text-align: center;
	pointer-events: none;
}

#articles-filter .tag:after {
	content: ' +';
}

#articles-filter .tag[data-active='true']:after {
	content: ' ×';
}

#articles-filter__reset {
	visibility: hidden;
}

[data-visibility='on'] {
	opacity: 1;
	z-index: 100;

	-webkit-transition: all 0.3s linear;
	transition        : all 0.3s linear;
}

[data-visibility='off'] {
	/*position: absolute;*/
	position: relative;
	height: 0 !important;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	opacity: 0.05 !important;
	/*z-index: 0;*/

	pointer-events: none !important;
	-webkit-user-select: none !important;
	user-select        : none !important;

	transform-origin: center center;

	-webkit-transition: all 0.3s linear;
	transition        : all 0.3s linear;
}

[data-visibility='off'] > * {
	height: 0 !important;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

/*add some placement randomness*/

[data-visibility='off']:nth-child(odd) {
	transform: scale(0.9);
}

[data-visibility='off']:nth-child(3n) {
	transform: scale(1.2);
}

[data-visibility='off']:nth-child(even) {
	transform: scale(1.1);
}

[data-visibility='off']:nth-child(4n) {
	transform: scale(0.8);
}

/*--------------------------------------------------------------
form styles
--------------------------------------------------------------*/

.button {	
	display: block;
	margin: 0.5rem auto;
	padding: 0.6rem 0.6rem 0.5rem 0.6rem;

	background: rgb(var(--page-color));
	border: 1.5px solid rgb(var(--text-color));
	border-bottom: 3px solid;
	border-radius: 2rem;
	color: rgb(var(--text-color));
	/*letter-spacing: 1px;*/
	line-height: 0.5;	
	font-weight: bold;
	text-transform: uppercase;

	-webkit-appearance: button; /* iOS and Safari fix */
	cursor: pointer;
	pointer-events: auto;

	-webkit-box-shadow: 0px 5px 0px 0px var(--shadow-color);
	box-shadow:         0px 5px 0px 0px var(--shadow-color);
}

.button:hover {
	-webkit-box-shadow: inset 0 2rem 0 var(--shadow-color), 0px 3px 0px 0px var(--shadow-color);
	box-shadow:         inset 0 2rem 0 var(--shadow-color), 0px 3px 0px 0px var(--shadow-color);
}

.button:focus {
	border-top: 3px solid;
	border-bottom: 1.5px solid;
	-webkit-box-shadow: inset 0 2rem 0 var(--shadow-color), 0px 3px 0px 0px var(--shadow-color);
	box-shadow:         inset 0 2rem 0 var(--shadow-color), 0px 3px 0px 0px var(--shadow-color);
	outline: none;
}

.button::-moz-focus-inner { border: 0; }


/*--------------------------------------------------------------
articles-list styles
--------------------------------------------------------------*/


.articles-list {
	position: relative;
	margin-top: var(--gutter-width);
	/*outline: 1px dashed cyan;*/
}

.articles-list summary {
	margin-left: -1rem;
}

.articles-list summary::marker {
	/*color: red !important;*/
}

.articles-list summary:focus {
	outline: none;
}

.articles-list summary:focus h2 {
	text-decoration: underline;
}

.articles-list summary h2 {
	display: inline-block;
	margin-bottom: var(--gutter-width);
	padding: 0 0.25rem;

	cursor: pointer;

/*	background: rgb(var(--text-color));
	color: rgb(var(--text-color-inverted));*/
}

.articles-list article {
	max-width: var(--content-width);
	vertical-align: top;

	/*outline: 1px dashed red;*/
}

.articles-list article + article {
	margin-top: var(--gutter-width);
}

.articles-list article > a {
	display: block;
	text-decoration: none;
}

.articles-list article > a:hover h3,
.articles-list article > a:focus h3 {
	text-decoration: underline;
}

.articles-list article > a:hover .thumbnail {
	transform: scale(1.02);
}

.articles-list article .thumbnail {
	font-size: 0;
	transition: transform .3s;
}

.articles-list article .thumbnail:empty {
	display: none !important;
}

.articles-list article .thumbnail img {
	width: 100%;
}

.articles-list article .time {
	display: block;

	color: rgb(var(--text-color));
	font-size: 1rem;
	/*outline: 1px dashed red;*/
}

.articles-list article .title {
	display: inline-block;
	margin-right: 1ch;

	font-size: 1rem
	/*outline: 1px dashed red;*/
}

.articles-list article .description {
	display: inline;

	color: rgba(var(--text-color),0.8);
	/*outline: 1px dashed red;*/
}





/*--------------------------------------------------------------
articles-list - stack
--------------------------------------------------------------*/

.articles-list.stack > .wrapper {
	/* */
}

.articles-list.stack article + article {
	margin-top: calc(var(--gutter-width)/2);
}

.articles-list.stack article a {
	display: flex;
}

.articles-list.stack article a > * {
	vertical-align: middle;
}

.articles-list.stack .thumbnail {
	display: none;
}


.articles-list.stack .time {
	order: 3;
	width: 9ch;
}

.articles-list.stack .time {
	display: inline-block;
	flex-shrink: 0;
	margin-left: 1ch;
	/*outline: 1px dashed red;*/
}


.articles-list.stack .title {
	order: 1;
}

.articles-list.stack .description {
	display: inline-block;
	order: 2;
	flex-grow: 1;
	overflow: hidden;

	text-overflow: ellipsis;
	white-space: nowrap;
}

/*--------------------------------------------------------------
articles-list - cluster
--------------------------------------------------------------*/

.articles-list.cluster > .wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin: calc(-1*var(--gutter-width)/2);
}

.articles-list.cluster article {
	display: inline-block;
	flex-basis: calc((var(--content-width)/2 - 0.5*var(--gutter-width)));
	flex-grow: 1;
	margin: calc(var(--gutter-width)/2);
	/*width: calc(( 100% - 2*var(--gutter-width) ) / 2);*/
}

.articles-list.cluster article:nth-last-child(1):nth-child(odd) {
	/*flex-grow: 0;*/
	/*outline: 2px solid red;*/
}

.articles-list.cluster article.preformatted {
	width: 100%;

	text-align: center;
}

.articles-list.cluster article.preformatted > * {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;

	text-align: left;
}


/*--------------------------------------------------------------
articles-list - no-summary
--------------------------------------------------------------*/
.articles-list.no-summary > summary {
	display: none;
}

/*--------------------------------------------------------------
articles-list - no-gap
--------------------------------------------------------------*/
.articles-list.no-gap {
	--gutter-width: 0px;
}

/*--------------------------------------------------------------
articles-list - no-text
--------------------------------------------------------------*/

.articles-list.no-text article .time,
.articles-list.no-text article .title,
.articles-list.no-text article .description {
	display: none;
}

.articles-list.no-text article .thumbnail{
	display: block;
}


/*--------------------------------------------------------------
articles-list - no-time
--------------------------------------------------------------*/
.articles-list.no-time article .time {
	display: none;
}


/*--------------------------------------------------------------
articles-list - no-thumbnail
--------------------------------------------------------------*/

.articles-list.no-thumbnail article .thumbnail {
	display: block;
	position: fixed;
	top: -0.5vh;
	left: -0.5vw;
	margin: 0;
	z-index: 103;

	pointer-events: none;
	transition: transform 1s;
}

.articles-list.no-thumbnail article .thumbnail img {
	width: 101vw;
	height: 101vh;

	object-fit: cover;

	filter: blur(3px);
	opacity: 0;

	/* force GPU rendering */
	transform: translateZ(0);

	transition: all 1s;
}
	.articles-list.no-thumbnail article:hover .thumbnail img {
		opacity: 0.2;
	}


/*--------------------------------------------------------------
articles-list - thumb ratio
--------------------------------------------------------------*/
.articles-list[class*="thumbnail-"] article .thumbnail {
	position: relative;
	overflow: hidden;
	/*outline: 1px solid red;*/
}

.articles-list[class*="thumbnail-"] article .thumbnail img {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	height: 100%;
	object-fit: cover;
}

.articles-list.thumbnail-4\:3 article .thumbnail {
	padding-top: 75%;
}

.articles-list.thumbnail-3\:4 article .thumbnail {
	padding-top: 133%;
}

.articles-list.thumbnail-16\:9 article .thumbnail {
	padding-top: 56%;
}

.articles-list.thumbnail-9\:16 article .thumbnail {
	padding-top: 178%;
}

.articles-list.thumbnail-1\:1 article .thumbnail {
	padding-top: 100%;
}



/*--------------------------------------------------------------
article meta styles
--------------------------------------------------------------*/

.meta {
	display: flex;
	flex-wrap: wrap;
}

.meta > * {
	flex-grow: 1;
	margin: calc(var(--gutter-width)/2);
	/*outline: 1px dashed red;*/
}

.meta h2 {
	font-variant: small-caps;
	text-transform: uppercase;
}
.meta dl {
	display: grid;
	/*grid-gap: var(--gutter-width);*/
	grid-template-columns: 8rem 1fr;
	margin: auto auto 1.4rem;
}

.meta dt {
	grid-column: 1;

	font-variant: small-caps;
	text-transform: uppercase;
}
	.meta dl > dt:first-child {
	}

.meta dd {
	grid-column: 2;
}

#TableOfContents ul {
	padding: 0;
	/*counter-reset: item;*/
}

#TableOfContents ul li:blank {
	background: red;
}

#TableOfContents ul ul {
	counter-reset: item;
}

#TableOfContents li {
	padding-bottom: 0.4rem;
}

#TableOfContents ul ul:not(:first-child) {
	/*counter-reset: item;*/
	padding-top: 0.4rem;
}

#TableOfContents ul > li:before {
	/*margin-left: -0.7rem;*/
	padding-right: 0.1rem;
	content: counters(item, '.') '. ';
	counter-increment: item;
}

#TableOfContents > ul > li:first-child:before {
	content: '';
	margin: 0;
	padding: 0;
}


/*--------------------------------------------------------------
article styles
--------------------------------------------------------------*/

aside.meta,
.entry-content .sidenote {
	border: 3px double;
	margin: var(--gutter-width) auto;
}

.entry-content ul li:before {
	content: '-';
	position: absolute;
	margin-left: calc(-1*var(--gutter-width));
}

.entry-content ul,
.entry-content ol {
	padding-left: var(--gutter-width);
}

.entry-content p,
.entry-content img,
.entry-content article,
.entry-content ul,
.entry-content ol,
.entry-content figure,
.entry-content aside {
	/*margin-top: var(--gutter-width);*/
	margin-bottom: 2rem; /* fallback */
	margin-bottom: calc(1*var(--gutter-width));
}

.entry-content blockquote {
	margin-top: var(--gutter-width);
	margin-bottom: var(--gutter-width);
	padding-left: var(--gutter-width);

	quotes: none;
	text-align: left;
}

.entry-content blockquote::before {
	content: '“';
	float: left;
	margin-left: -1em;

	font-size: 200%;
	line-height: 1;
}
	.entry-content blockquote:lang(el)::before {
		content: '«';
		margin-top: -0.5em;
	}

.entry-content blockquote + figcaption {
	text-align: right;
}


.footnotes ol {
	padding: calc(var(--gutter-width)/2) calc(var(--gutter-width));
}


/*--------------------------------------------------------------
embeds
--------------------------------------------------------------*/

.video {
	position: relative;
	padding-bottom: 56.25%;
	margin-bottom: var(--gutter-height);
	height: 0;
	overflow: hidden;
}

.video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	border:0;
}

/*--------------------------------------------------------------
gallery
--------------------------------------------------------------*/

.gallery {
	position: relative;
	height: 50vh;
	margin: 6rem 3rem;

	counter-reset: items;
}

.gallery:after {
	content: attr(data-current) " / " counter(items);

	position:absolute;
	bottom: 0;
	right: 0;

	font-size: 60%;
}

.gallery figure {
	position: absolute;
	top: 0;
	left: 0;

	counter-increment: items;

	transition: transform .3s;
	/*transition: transform .3s, z-index 1s step-end;*/
}

.gallery figure:hover {
	/*z-index: 1000 !important;*/


	/*animation: tofront 0.3s linear forwards;*/
	/*transition: transform .3s, z-index 1s step-start;*/
}
	@keyframes tofront {
		from { opacity: 0.8; }
		to   { opacity: 1; }
	}

.gallery figure:first-child {
	z-index: 1; /* make the first image display first */
}

.gallery figcaption {
	visibility: hidden;
	margin-top: 1.5rem;
}

.gallery.no-caption figcaption {
	display: none;
}

.gallery .top figcaption {
	visibility: visible;
}

.gallery img {
	max-height: 50vh;
	margin: 0 auto;

	cursor: pointer;	
	mix-blend-mode: normal;

	
	/*box-shadow: 0.3rem 0.3rem 0.5rem -0.1rem rgba(0,0,0,.5);*/
	box-shadow: 0 4px 8px rgba(0,0,0,0.07),
				0 8px 16px rgba(0,0,0,0.07),
				0 16px 32px rgba(0,0,0,0.07),
				0 32px 64px rgba(0,0,0,0.07);
	outline: 1px solid rgba(0,0,0,0.1);

	transform-origin: center;
	transition: transform .3s 1s;

	outline: 1px solid rgba(0,0,0,0.1);
}

.gallery img:hover {
	transform: scale(1.2);
	transition-delay: 0s;
}

.gallery .top img {
	/*border: 1.5px solid rgba(0,0,0,1);*/
	box-shadow: 0 4px 8px 4px rgba(0,0,0,0.5);
	cursor: all-scroll;

	transform: scale(1.2);
	transition-delay: 0s;
}