<!-- layouts/shortcodes/articles-filter.html -->
{{- $taxi := "tags" -}}
{{- $class := (.Get "class") -}}
{{- $filter := "articles-filterable" -}}
{{- $tagfilter := (.Get "tagfilter") -}}
<!-- if not (in $site.Params.disableKinds "taxonomy")  -->
<div class="taxonomy-filter noscript {{ with $class }}{{ $class }}{{ end }}">
{{- range $taxonomy_term, $taxonomy := .Site.Taxonomies -}}
	{{- with $.Site.GetPage (printf "/%s" $taxonomy_term) -}}
		{{- if eq $taxi $taxonomy_term -}}
			<div class="taxa {{ $taxonomy_term }}">				
				<a class="taxonomy-filter__reset taxon {{ .Data.Singular }}" data-active="true" data-reset="true">{{ (i18n "filter-reset") }}</a>
				{{- range $taxon, $taxa := $taxonomy -}}
					{{- if not (in (slice $tagfilter) $taxon) -}}
						{{- partial "taxon" .Page -}}
					{{- end -}}
				{{- end -}}
			</div>
		{{- end -}}
	{{- end -}}
{{- end }}
</div>
<script type="text/javascript">
	var txnm_filter = '.taxonomy-filter';
	var txnm_filter__reset = '.taxonomy-filter__reset';
	var txnm_filter__attr = 'data-{{ $taxi }}'; // TODO: Class attribute
	var txnm_filter__able = '.articles-filterable [' + txnm_filter__attr + ']';
	var txnm_selected = [];
	document.querySelector(txnm_filter).classList.remove('noscript');

	document.querySelectorAll(txnm_filter + ' .taxon').forEach(button => {
		button.addEventListener('click', function (e) { txn_filter(e); });
	});

	function txn_filter(e) {
		e.preventDefault(); // do not go to href

		var button = e.target;

		if (button.getAttribute('data-reset') === 'true') {
			txn_reset();
		} else if (button.getAttribute('data-active') === 'true') {
			var taxon = button.getAttribute('data-filter');
			txnm_selected = txnm_selected.filter(val => val !== taxon);
			button.setAttribute('data-active', 'false');
			txn_toggle();
			if (txnm_selected.length < 1) {
				document.querySelectorAll(txnm_filter__reset).forEach(item => {
					item.setAttribute('data-active', 'true');
				});
			}
		} else {
			var taxon = button.getAttribute('data-filter');
			txnm_selected.push(taxon);
			button.setAttribute('data-active', 'true');
			txn_toggle();
			if (txnm_selected.length > 0) {
				document.querySelectorAll(txnm_filter__reset).forEach(item => {
					item.setAttribute('data-active', 'false');
				});
			}
		}

		// scroll back to the first visible post
		setTimeout(function(){
			if (document.querySelector("[data-visibility='visible']") !== null) {
				var topoffset = document.querySelector("[data-visibility='visible']").getBoundingClientRect().top; // 8px offset
			} else {
				var topoffset = document.querySelector('[data-visibility]').getBoundingClientRect().top;
			}
			window.scroll({
				top: window.scrollY + topoffset - parseInt(e.target.closest(txnm_filter).getBoundingClientRect()['height']),
				// top: window.scrollY + topoffset - parseInt(e.target.closest(txnm_filter).getBoundingClientRect()['height']),
				behavior: 'smooth'
			});
		}, 600); // greater than the transition speed
		
	}

	function txn_toggle() {
		var items = document.querySelectorAll(txnm_filter__able).forEach(item => {
			var item_taxa = item.getAttribute(txnm_filter__attr);
			if (item_taxa != null) {
				if (!txnm_selected.some(v=> item_taxa.indexOf(v) >= 0)) {
					item.setAttribute('data-visibility', 'hidden');
				} else {
					item.setAttribute('data-visibility', 'visible');
				}
			}
			if (txnm_selected.length === 0) {
				item.setAttribute('data-visibility', 'visible');
			}
		});
	}

	function txn_reset() {
		txnm_selected = [];
		document.querySelectorAll(txnm_filter__able).forEach(item => {
			item.setAttribute('data-visibility', 'visible');
		});

		document.querySelectorAll(txnm_filter + ' .taxon').forEach(item => {
			item.setAttribute('data-active', 'false');
		});

		document.querySelectorAll(txnm_filter__reset).forEach(item => {
			item.setAttribute('data-active', 'true');
		});
	}
</script>