{{- $types := (.Get "types") -}}
{{- $tag := (.Get "tag") -}}
{{- $filter := (.Get "filter") -}}
{{- $class := (.Get "class") -}}
{{- $title := (.Get "title") -}}
{{- $closed := (.Get "closed") -}}
{{- $lang := .Site.Language.Lang -}}
<details class="articles-list {{ with $class }}{{ $class }}{{ end }}" {{ if ne $closed "true" }}open{{ end }}>
<summary><h2>{{ $title }}</h2></summary>
<div class="wrapper">
{{- range .Site.AllPages -}}
	{{- if and (and (or (in $types .Type) (in .Params.tags $tag)) (eq .IsPage true)) (not (in .Params.tags $filter)) -}}
		{{/* display articles from other languages */}}
		{{- if (or (eq .Lang $lang) .Params.Crosspost) -}}
			{{ partial "article.html" . }}
		{{- end -}}
	{{- end -}}
{{- end -}}
</div>
</details>