{{- $repository := .Get "repository" -}}
{{- $readme := getJSON "https://api.github.com/repos/" $repository "/readme" -}}
{{- $content := $readme.content | base64Decode -}}
{{- with .Page.Params.Title -}}
	{{ $content = replace $content (printf "# %s" . ) "" }}
{{- end -}}
{{- $content = replace $content "](./" (printf "](https://raw.githubusercontent.com/%s/master/" $repository) -}}
{{- $content = replace $content "](/" (printf "](https://raw.githubusercontent.com/%s/master/" $repository) -}}
{{- $content | markdownify -}}